# -*- Mode: Shell-script -*-
# dopamine-sway_edition - ellathecat
# ----------------------------------

include /etc/sway/config-vars.d/*

include ~/.config/sway/config.d/101-accessibility.config
include ~/.config/sway/config.d/103-files-and-folders.config
include ~/.config/sway/config.d/105-special-keys.config
include ~/.config/sway/config.d/107-standard-and-dropdown.config
include ~/.config/sway/config.d/109-output.config
include ~/.config/sway/config.d/111-idle.config
include ~/.config/sway/config.d/113-input.config
include ~/.config/sway/config.d/114-escapes-mode.config
include ~/.config/sway/config.d/115-seats.config
include ~/.config/sway/config.d/117-appearances.config
include ~/.config/sway/config.d/119-status-bars.config
include ~/.config/sway/config.d/125-reaper-mode.config
include ~/.config/sway/config.d/127-alternate-workspaces.config
include ~/.config/sway/config.d/129-autotiling.config
include ~/.config/sway/config.d/131-numpad-mechanism.config
include ~/.config/sway/config.d/133-workspace-script-mechanism.config
include ~/.config/sway/config.d/135-mod4-bindings.config
include ~/.config/sway/config.d/137-menu-key-mode.config
include ~/.config/sway/config.d/141-numpad-operators.config
include ~/.config/sway/config.d/143-binding-mode-indicator.config
include ~/.config/sway/config.d/145-tens-digit-modes.config
include ~/.config/sway/config.d/151-divkey-units-digit.config
include ~/.config/sway/config.d/152-mulkey-units-digit.config
include ~/.config/sway/config.d/153-subkey-units-digit.config
include ~/.config/sway/config.d/154-addkey-units-digit.config
include ~/.config/sway/config.d/155-ntrkey-units-digit.config
include ~/.config/sway/config.d/999-*.config

# ------------------
# "F-ck Parkinson's"
# ------------------

#
# Done.
#
