
# -*- Mode: Shell-script -*-
# accessibility.config

# ACCESSIBILITY OVERVIEW -------------------------------------------------------------------------------

# I have Parkinson's and I want to keep using my computer.

# I'm using the Sway Tiling Window Manager and the AutoTiling utility so I don't have to be forever
# maanually re-positioning windows with the mouse, and because I can define desktop keyboard commands to
# suit my needs.
#
# Narcolepsy is a thing. Typos are a plague. Transposed characters, missing characters, mistyped
# commands inserted as text (XS Q ñ). Narcolepsy causes nore damage should my head hit the keyboard.

# Cognitive decline is a thing. Mine got better with a change of meds (stop trihexyphenidyl). To
# experience it is like having a word on the tip of your tongue that never comes. I don't know how much
# needs explaining versus what is obvious, this config is commented to excess, in case I forget in future.

# Dyskinesia is a thing. Uncontrolled involuntary movements possibly due to long-term levodpa use. To
# experience it in the context of computer use is to have an invisible monkey loose at the keyboard.

# ShellCheck is a 'lint' for bash scripts. Run it whenever you feel you ought to, running it for every
# little change kills spontaneity. It's a safety net for my PD induced errors.

# ------------------------------------------------------------------------------------------------------
