# -*- Mode: Shell-script -*-
# FILES & FOLDERS --------------------------------------------------------------------------------------

include /etc/sway/config-vars.d/*

# This project has two folders, one for configuration files and one for scripts, with a common parent. Sway
# looks for its "config" file at the top level. I chose to keep "config" in the configuration folder with a
# symlink at the top level.

set $ETC_SWAY_DIR  ~/.config/sway
set $ETC_SWAY_CONFIG_DIR  ~/.config/sway/config.d
set $ETC_SWAY_SCRIPTS_DIR ~/.config/sway/scripts.d

# The 'config' file in $ETC_SWAY_CONFIG_DIR contains include directives to make one big config file fron lots
# of little files "$ETC_SWAY_CONFIG_DIR/*.config" that it concatenates together. It is an exercise in damage
# limitation. If I work on one small piece at a time my PD can do less damage.

# The prefix ETC in a variable stands for Ella The Cat, but that's not important. Here it distinguishes
# a sway or i3 variable from a bash variable explicitly, which is handy when the variable is a path.
