# -*- Mode: Shell-script -*-
# standard-and-dropdown.config

# STANDARD TERMINAL ------------------------------------------------------------------------------------

# I don't like the $term variable because it doesn't abstract the common functions / command line
# arguments 'set title' or 'run program'. It seems easier to do a search-and-replace of a concrete
# type.
set $term rickroll

# Tab for left-hands, Return for right-hand.
bindsym Mod4+Return  exec xfce4-terminal
bindsym Mod4+Tab     exec xfce4-terminal

# DROPDOWN TERMINAL ------------------------------------------------------------------------------------

# A terminal that hides in the scratchpad could be used instead, but I really like drop-down animation.

# Embedding the exec xfc4-terminal inside the exec swaymsg is a pattern some people disapprove of. I like
# how it doesn't block, it feels trustworthy and reliable.
set $dropdownfunction exec swaymsg \
                                 "exec xfce4-terminal --drop-down --title dropdown-console";

# Control+Menu right-hand, Fn key independence.
bindsym Control+Menu $dropdownfunction
bindsym down+right     $dropdownfunction
# Control+Caps_Lock_as_Menu-or-Escape left-hand.
bindsym Control+Escape $dropdownfunction

# When mapped it is made floating, placed on the active screen, centered left-to-right, and anchored to the
# bottom edge of the upper status bar or title bar (recommended).
for_window [title="dropdown-console"] floating enable, move position 192px 24px, mark --replace banana

# NOTE 1: Translucency may be set from the GUI xfce4-terminal properties.  Set it to give a hint of the
# backdrop without adverse effect on text clarity.

# There ia a general purpose means of setting run-time opacity, see 153-subkey-units-digit.config. With
# an opaque background selected, on the numpad type 'subkey=3' 'subfn=5' then a numpad digit, '8' is
# suggested.; '0' makes background transparent, '.' makes background opaque, 1 to 9 increasingly opaque.

# NOTE 2: The dropdown position set from xfce4-terminal properties should correspond to centring the slider
# and unticking the follow mouse checkbox. If that is done, sway is able to set the position relative to the
# current screen, anchored at the top.

# NOTE 3: Tag the dropdown console wih a mark. If ever a bug allows more than one to be launched, only one
# will carry this mark.

# NOTE 4: bug; with xfce4-terminal, using a photo as a backdrop, the photo is rendered flipped and flopped.

#NOTE 5: An alternative to xfce4-terminal is qterminal. It has a drop down mode that I can't get working. Small fonts lok nic and sre leguible

# ------------------------------------------------------------------------------------------------------
