
 # -*- Mode: Shell-script -*-
# output.config

# ABSTRACTING OUTPUT NAMES -----------------------------------------------------------------------------

# Use config variables to abstract the output names, shell scripts need matching environment variables. I do
# not know how to apply the abstraction in 'jq' code, fortunately using literals incurs only a modest
# maintenance burden.

# BIOS dictates the order of initialisation by the connector/cable names. EllaTheCat's
# monitors have $frst $third side-by-side above $second
set  $first HDMI-A-1
set $second HDMI-A-2
set  $third VGA-1
# The outputs are projected onto rectangular screens. An edge can be wholly or partially shared between
# the rectangular regions corresponding to two outputs, but two rectangles should never be allowed to
# overlap lest hilarity ensues.

output  $first mode 1920x1080 position    0 0  scale 1
output  $third mode 1920x1080 position 1920 0  scale 1
output $second mode 1920x1080 position 960 1080  scale 1

# These are 3x1 screen (5760x1080) images taken from a panorama, each offset by a multiple
# of 2 screens, the offset embedded in the filename.

output  $first bg ~/Media/Images/Wallpapers/London_Eye/le07680.jpg  fill
output  $third bg ~/Media/Images/Wallpapers/London_Eye/le11520.jpg  fill
#utput $second bg ~/Media/Images/Wallpapers/London_Eye/le00000.jpg  fill
output $second bg ~/Media/Images/Wallpapers/Critters/discopig.jpg fill

# OUTPUT CONFIGURATION IS DUAL MONITORS SIDE-BY-SIDE BY DEFAULT  ---------------------------------------

# To obtain the names of the outputs of a given machine run:

#                 swaymsg -p -t get_outputs | grep Output

# Beware swapped cables - check that the mouse can be noved between screens. HDMI-A-1 and HDMI-A-2 are
# assumed to be left abd right.  EllaTheCat has three monitors with the $firstoutput and $thirdoutput
# screens side-by-side with $second underneath forming a flattened T.

# WALLPAPER HOWTO --------------------------------------------------------------------------------------

# To make panoramic desktop wallpaper for dual displays start with an image whose dimensions slightly
# exceed or equal those of the two outputs side by side, then crop out 3840x1080 for a dual display
# using HD monitors. The Fuerteventura image is offset by 80 in X because (4000 - 3840 / 2) = 80 crops
# symmetrically in X, by 500 to crop the best 1080 pixel high stripe (ymmv).

### mogrify -crop 3840x1080+80+500! originalimage4000x2677.png.

# Make and rename two copies of the cropped image, one for the left and one for the right, the right offset
# in X by the width of the left after cropping.

### mogrify -crop 1920x1080+0+0! Sway_Wallpaper_etc_000_L_1920x1080.png
### mogrify -crop 1920x1080+1920+0! Sway_Wallpaper_etc_000_R_1920x1080.png

# ------------------------------------------------------------------------------------------------------
#
# Done.
#
