# -*- Mode: Shell-script -*-
# output.config

# ABSTRACTING OUTPUT NAMES -----------------------------------------------------------------------------

# Use config variables to abstract the output names, shell scripts need matching environment variables. I do
# not know how to apply the abstraction in 'jq' code, fortunately using literals incurs only a modest
# maintenance burden.

set  $leftoutput HDMI-A-1
set $rightoutput HDMI-A-2
set $dummyoutput VGA-1

output  $leftoutput resolution 1920x1080 position 0,0
output $rightoutput resolution 1920x1080 position 1920,0
###put $dummyoutput resolution 1920x1080 position 0,1920
output  $leftoutput bg ~/Desktop/fuerteL.png fill
output $rightoutput bg ~/Desktop/fuerteR.png fill
###put $dummyoutput bg #880088 solid_color

# OUTPUT CONFIGURATION IS DUAL MONITORS BY DEFAULT  ----------------------------------------------------

# To obtain the names of the outputs of a given machine run:

#                 swaymsg -p -t get_outputs | grep Output

# EllaTheCat obtained the same values on the same machine with two outputs (HDMI and DVI-D connectors) under
# ubuntu 22.04 LTS and fedora worksatation 38: HDMI-A-1 for the right-hand side and HDMI-A-2 for the
# left-hand side. This is considered to be swapped, so outside of sway, for example in the fedora greeter
# (and on ubuntu) it is indeed swapped, and the mouse cannot cross the join between two screens, it must be
# moved offscreen at one side and back onscreen at the other side.

# WALLPAPER HOWTO --------------------------------------------------------------------------------------

# To make panoramic desktop wallpaper for dual displays start with an image whose dimensions slightly
# exceed or equal those of the two outputs side by side, then crop out 3840x1080 for a dual display
# using HD monitors. The Fuerteventura image is offset by 80 in X because (4000 - 3840 / 2) = 80 crops
# symmetrically in X, by 500 to crop the best 1080 pixel high stripe (ymmv).

### mogrify -crop 3840x1080+80+500! originalimage4000x2677.png

# Make and rename two copies of the cropped image, one for the left and one for the right, the right offset
# in X by the width of the left after cropping

### mogrify -crop 1920x1080+0+0! Sway_Wallpaper_etc_000_L_1920x1080.png
### mogrify -crop 1920x1080+1920+0! Sway_Wallpaper_etc_000_R_1920x1080.png

# REGARDING NICHE OUTPUT CONFIGURATIONS ----------------------------------------------------------------

# EllaTheCat's machine has a third output (VGA connector). Instead of a third monitor, EllaTheCat installed
# a dummy monitor dongle. BE PREPARED FOR A WORLD OF PAIN typified by a missing and apparently frozen mouse.

# The dummy output is positioned beneath the left output and filled with solid colour magenta instead of
# a wallpaper, ALL DISABLED BY DEFAULT.

# For completeness' sake here, the third output is in fact the first to boot (order is VGA-1 HDMI-A-1
# (DVD-I) HDMI-A-2 (HDMI). To confound further the motherboard BIOS enables only two connected outputs
# during boot. Only the triple monitor configuraton suffers. Wallpaper is defined per output so existing
# panoramic backgounds do not break; this is much better than nitrogen or feh on i3/X11 overlaying an image
# big enough to cover all screens.

# ------------------------------------------------------------------------------------------------------
