# - *- Mode: Shell-script -*-
# idle.config

# IDLE CONFIGURATION -----------------------------------------------------------------------------------
#
# This locks your screen after T seconds of inactivity, and turns off your displays at T+300 seconds (five
# minutes). It turns your screens back on when resumed. It also locks your screen before your computer goes
# to sleep. EllaTheCat set T=2700 seconds (45 minutes) to suit concentration level and workflow.

exec swayidle -w \
timeout 2700 'swaylock -f -c 000000' \
timeout 3000 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
before-sleep 'swaylock -f -c 000000'

# Finding 'inhibit_idle' documentation wasn't as straightforward as I thought:
#   https://github.com/swaywm/sway/pull/3962
for_window [app_id="mpv" title="iimpv.mp4"] inhibit_idle open;
# open - inhibit-idle as long as video window is open not necessarily visible.
#
