# - *- Mode: Shell-script -*-
# idle.config

# IDLE CONFIGURATION -----------------------------------------------------------------------------------
#
# This locks your screen after 3 hours of inactivity.
# It turns off your displays after quarterhalf an hour of inactivity.
# It turns your screens back on when activity is resumed.
# It locks your screen before your computer goes to sleep.
#
exec swayidle -w \
timeout 10800 'swaylock -f -c 000000' \
timeout 1800 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
before-sleep 'swaylock -f -c 000000'

# Finding 'inhibit_idle' documentation wasn't as straightforward as I thought:
#   https://github.com/swaywm/sway/pull/3962
# open - inhibit-idle as long as video window is open not necessarily visible.
# visible - inhibit-idle as long as video window is visible.

# The xfce4 app finder stays open only until it launches an app successfully.
# It provides a quick and dirty means to inhibit idle: open it and keep it open.
for_window [title="Application Finder"] inhibit_idle open;

#
# Done.
#