# -*- Mode: Shell-script -*-
# input.config
# ======================================================================================================

### INPUT CONFIGURATION --------------------------------------------------------------------------------

# This config was initially developed for a PC105 desktop keyboard. Recently the emphasis has moved to a
# compact mechanical keyboard with 61 keys (i.e. a gaming keyboard) that might help with my PD induced
# typing issues.

# STANDARD PC105 KEYBOARD CONFIGURATION ----------------------------------------------------------------
#
# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input`and 'man 7 keyboard-config' for more information about this section.
# The following settings, uncommented, have been tested on my trusty 15 year-old Dell desktop keyboard.

###                input 16700:8195:Dell_Dell_USB_Keyboard repeat_delay 499
###                input 16700:8195:Dell_Dell_USB_Keyboard repeat_rate 16
###                input 16700:8195:Dell_Dell_USB_Keyboard xkb_model pc105
###                input 16700:8195:Dell_Dell_USB_Keyboard xkb_layout us
###                input 16700:8195:Dell_Dell_USB_Keyboard xkb_variant euro
###                input 16700:8195:Dell_Dell_USB_Keyboard \
###                         xkb_options ctrl:swap_lalt_lctl_lwin,caps:escape,numpad:pc
###                input 16700:8195:Dell_Dell_USB_Keyboard xkb_capslock disabled
###                input 16700:8195:Dell_Dell_USB_Keyboard xkb_numlock enabled

# NOTE The xkb_options move the control key, replace the Caps_Lock and set a PC style numpad. You have a
# choice between caps:escape or caps:menu (see xkb_options line above, which I have had to line wrap)

# caps:escape ------------------------------------------------------------------------------------------
#
# PRO: Escape keysym on Caps_Lock is great for vi, emacs, is a popular setting.
# PRO: pc105:us:euro keyboard can use the backslash/bar key (code 94) on the left as Menu because
#      there's backslash/bar key (code 51) on the right!
# CON: No Menu keysym on Caps_Lock needs something to be Menu on the left
#
# caps:menu --------------------------------------------------------------------------------------------
#
# PRO: Menu keysym on Caps_Lock is consistent and accessible.
# CON: No Escape keysym on Caps_Lock is a deal-breaker for some.
# CON: No xcape on Wayland precludes 'Escape on Alt standalone' which was perfect.

# NON STANDARD KEYBOARD CONFIGURATION ------------------------------------------------------------------

# I may have opened a massive can of worms. I recently bought a compact mechanical keyboard
# to help with my PD, for clicky keys, for N key rollover, for compactness, and only 61 keys.
# It cost 28 UK pounds. [Yes, I can't type our currency symbol, but it's on the 3 # F3 keycap]

# The xkb model isn't listed, so I've set it to the same model, layout and variant as before, noting that
# pc105 is default. For want of a designation for such things, it's a "compact mechanical keyboard".

# Incredibly, despite having 61 keys, it has two backslash keys. I relied on this feature for my Dell
# PC105 and it still works!

# The xkb options for rotating the left hand modifiers still work, as does caps:escape, but what to do
# about numpad:pc and xkb_numlock? There are no numpad keycodes in 'xmodmap -pke' (under Wayland) and no
# numlock key, so numlock:pc is gone and numlock disabled.

input 12815:20571:Evision_RGB_Keyboard repeat_delay 600
input 12815:20571:Evision_RGB_Keyboard repeat_rate 32
input 12815:20571:Evision_RGB_Keyboard xkb_model pc105
input 12815:20571:Evision_RGB_Keyboard xkb_layout us
input 12815:20571:Evision_RGB_Keyboard xkb_variant euro
input 12815:20571:Evision_RGB_Keyboard xkb_options ctrl:swap_lalt_lctl_lwin,caps:escape
input 12815:20571:Evision_RGB_Keyboard xkb_capslock disabled
input 12815:20571:Evision_RGB_Keyboard xkb_numlock disabled

# OPEN THE CAN OF WORMS! -------------------------------------------------------------------------------

# There is an inverted T cursor arrow arrangement on this compact mechanical keyboard. To get the left right
# up down arrows hold the (infamous) Fn key. If Fn is held for more than three seconds, it becomes a toggle
# between the four keys acting as arrows or Alt_R, Menu, slash, Control_R. With (105-61) = 44 fewer keys
# something had to give.

# Using a compact keyboard, with cursor arrows as default, I lose being able to type / ? and Menu directly,
# and I lose Control and Alt on the right!  I still have the modifiers Mod4,Alt,Control on the left, but more
# questions are raised:

# Q1 what replaces Menu if Caps_Lock is Escape? ----------------------------------------------------- --

# A1 Use backslash on the left, adjacent to Caps_Lock, OR use backslash on the right, adjacent to Enter.
# See 105-special-keys.config and 137-menu-key-mode.config.  Hint: EllaTheCat is using the backslash on
# the right.

# Q2 how to type a slash / question mark? --------------------------------------------------------------

# A2 From default mode, see 114-escapes-mode.config, it's bound to $mod+Escape. For example, to type a
# slash, press $mod and Escape with left hand, press s for a moment and then release s. It is not yet
# clear whether typing an escape should return to default mode immediately, or require an explicit return
# to default using space. Make a change if it suits you.

# -----------------------------------------------------------------------------------------------------
