# -*- Mode: Shell-script -*-
# 114-escapes-mode.config
# /usr/include/linux/input-event-codes.h

# This mode arose because we need to use certain characters in reports, but cannot type them
# consistently.  In addition to the few characters we need to type, this table could hold any others
# that you may need.  Strings can also be injected this way. DANGER WILL ROBINSON!

set $Escapes :Escape Characters:    s/ q? p| a~ z\ (b)ash (m)ode (f)11

bindsym $mod+Escape mode "$Escapes"

mode "$Escapes" {
    # Without exception.
    bindsym space mode default

    # Common use cases.
    bindsym s exec sudo ydotool type "/" ;
    bindsym q exec sudo ydotool type "?" ;
    # P for pipe
    bindsym p exec sudo ydotool type "|" ;
    # A for ascii tilde
    bindsym a exec sudo ydotool type "~" ;
  # Backslash should be typeable but if not use this binding. Z is adjacent to left backslash.
    bindsym z exec sudo ydotool key "43:1" "43:0" ;
    # Use Shift state to indicate default mode or not.
    bindsym Shift+s mode default, exec sudo ydotool type "/" ;
    bindsym Shift+q mode default, exec sudo ydotool type "?" ;
    bindsym Shift+p mode default, exec sudo ydotool type "|" ;
    bindsym Shift+a mode default, exec sudo ydotool type "~" ;
    bindsym Shift+z mode default, exec sudo ydotool key "43:1" "43:0" ;

    # Line 1 magic comments for scripts and configs respectively. The automatic return to default makes sense here.
    bindsym b mode default, exec sudo ydotool type "#!/bin/bash";
    bindsym m mode default, exec sudo ydotool type "# -*- Mode: Shell-script -*-";

    # Inject a function key into the application (example)
    #
    # F11 is often used to request fullscreen, hence 'f', but application fullscreen is not always a
    # toggle as in sway and i3. If you get stuck in fullscreen, try Escape first because that's often
    # the way back, but if still stuck type space to exit this mode and enter default mode, then
    # Mod4+Shift+f (WASD bindings).
    bindsym f exec sudo ydotool key "87:1" "87:0"
 }

#
# Done
#
