# -*- Mode: Shell-script -*-
# 114-escapes-mode.config
# /usr/include/linux/input-event-codes.h

# This mode arose because we need to use certain characters in reports, but cannot type them
# consistently.  In addition to the few characters we need to type, this table could hold any others
# that you may need.  Strings can also be injected this way. DANGER WILL ROBINSON!

set $Escapes :Escape Characters:    s/ q? p| a~ z\ (b)ash (m)ode (f)11

bindsym $mod+Escape mode "$Escapes"

mode "$Escapes" {
    # Without exception.
    bindsym space mode default

    # Locking the arrow keys on a 61 key compact keyboard hides slash and question mark. Typing slash in
    # paths is a common use case that prefers automatic return to default mode.
    bindsym s mode default, exec sudo ydotool type "/" ;
    bindsym q mode default, exec sudo ydotool type "?" ;

    # p for pipe (not b for bar OR backslash) is available on the bar|backslash keys at time of writing
    # but provide a safety net should both keys be entirely hijacked.
    bindsym p mode default, exec sudo ydotool type "|" ;
    # Having escaped bar just-in-case we escape backslash just-in-case,
    # Behold a can of worms. b for backslash is not available.
    # Backslash should be typeable but if it is not use adjacent key z for backslash.
    bindsym z mode default, exec sudo ydotool key "43:1" "43:0" ;

    # a for asciitilde ~ as used in paths.
    bindsym a mode default, exec sudo ydotool type "~" ;

    # Use SHIFTED state to indicate default mode is NOT AUTOMATIC but must be done using space.
    bindsym Shift+s exec sudo ydotool type "/" ;
    bindsym Shift+q exec sudo ydotool type "?" ;
    bindsym Shift+p exec sudo ydotool type "|" ;
    bindsym Shift+a exec sudo ydotool type "~" ;
    bindsym Shift+z exec sudo ydotool key "43:1" "43:0" ;

    # Line 1 magic comments for scripts and configs respectively.
    bindsym b mode default, exec sudo ydotool type "#!/bin/bash";
    bindsym m mode default, exec sudo ydotool type "# -*- Mode: Shell-script -*-";
    # Self-referential comments need this ;-) As do you and I for the code values.
    bindsym e mode default, exec sudo ydotool type "/usr/include/linux/input-event-codes.h";

    # Injecting a function key into the application (pathological example)
    #
    # F11 is often used to request fullscreen, hence 'f', but application fullscreen is not always a
    # toggle as in sway and i3. If it is a toggle, then we don't want automatic return to default. If
    # you get stuck in fullscreen, try Escape first because that's often the way back, but if still
    # stuck type space to exit this mode and enter default mode, then Mod4+Shift+f (WASD bindings).
    bindsym f exec sudo ydotool key "87:1" "87:0"

}

#
# Done
#
