# -*- Mode: Shell-script -*-
# seats.config

# SEATS ------------------------------------------------------------------------------------------------

# A user's preferences beyond their keyboard and nouse settings.
seat seat0 fallback true
seat seat0 hide_cursor when-typing enable
seat seat0 idle_inhibit keyboard pointer switch
seat seat0 idle_wake keyboard switch

# DRAGGING WITH THE MOUSE ------------------------------------------------------------------------------

# Drag floating or tiled windows by holding down $mod and one mouse button, typically button 1.
# Resize them by holding down $mod and another mouse button typically button 3.

# Use left mouse button for dragging and right mouse button for resizing.
floating_modifier $mod normal

# Use left mouse button for resizing and right mouse button for dragging.
###                   floating_modifier $mod inverse

# 999-{$USERNAME}.config -------------------------------------------------------------------------------

# This set of configuration files as listed in 000-includes expects one file that matches the pattern
# 999-{$USERNAME}.config. It's better if ${USERNAME} matches your username, because the file holds personal
# preferences, but it can be set to whatever you like. The default is a snapshot of 999-ellathecat.config'.
# Please take a look.

# ------------------------------------------------------------------------------------------------------
