# -*- Mode: Shell-script -*-
# appearances.config

# This is just the i3/sway settings for containers / windows.  Status bar foreground text and background
# colours, binding mode indicator colours, all are defined in in 119-status-bars.config, coming up next.

# ------------------------------------------------------------------------------------------------------

# EllaTheCat has ageing eyesight so contrast and saturation are important but good taste wants a small
# palette of hues.

# Explicit just-in-case. Keep title bars.
default_border normal

# Defaults changed to better distinguish are:
# 1. white title bar green text when focused.
# 2. blue  title bar white text when focused inactive,
# 3. black title bar  grey text when unfocused

# class | border | background | text | indicator | child_border

# The indicator is made bright yellow for manual tiling, if autotiling is enabled setting it to the Child
# border makes it unobtrusive.

# Syntax highlighting in (my) emacs doesn't like literal hex constants in the table below, hence use dollar
# variables.

set $indicator  #cccc44
set $borders    #666666
set $black      #000000
set $palegray   #aaaaaa
set $white      #ffffff
set $red        #aa0000
set $green      #006600
set $blue       #000044
set $magenta    #440044

client.focused          $borders $white $green     $indicator $borders
client.focused_inactive $borders $blue  $white     $indicator $borders
client.unfocused        $borders $black $palegray  $indicator $borders
client.urgent           $borders $red   $white     $indicator $borders
client.placeholder      $borders $white $magenta   $indicator $borders
client.background       $white

# Font for a.o. window titles, bar. I think it was the only font back in the day.

font "pango:DejaVu Sans 10"

# font pango:monospace 8
# font pango:DejaVu Sans Mono 8

# ------------------------------------------------------------------------------------------------------
