# -*- Mode: Shell-script -*-
# alternate-workspace-screens

# Encourage even-numbered workspaces to be on one side/screen and odd-numbered workspaces to be on the other
# side/screen.
# ------------------------------------------------------------------------------------------------------

# Using 'links' and 'rechts' instead of 'left' and 'right' respectively is just scoping to facilitate debug;
# if it annoys do a search and replace.
set  $links HDMI-A-2
set $rechts HDMI-A-1

# 4.21. Automatically putting workspaces on specific screens
# https://i3wm.org/docs/userguide.html#workspace_screen

workspace 00 output $links
workspace 01 output $rechts
workspace 02 output $links
workspace 03 output $rechts
workspace 04 output $links
workspace 05 output $rechts
workspace 06 output $links
workspace 07 output $rechts
workspace 08 output $links
workspace 09 output $rechts

workspace 10 output $links
workspace 11 output $rechts
workspace 12 output $links
workspace 13 output $rechts
workspace 14 output $links
workspace 15 output $rechts
workspace 16 output $links
workspace 17 output $rechts
workspace 18 output $links
workspace 19 output $rechts

workspace 20 output $links
workspace 21 output $rechts
workspace 22 output $links
workspace 23 output $rechts
workspace 24 output $links
workspace 25 output $rechts
workspace 26 output $links
workspace 27 output $rechts
workspace 28 output $links
workspace 89 output $rechts

workspace 30 output $links
workspace 31 output $rechts
workspace 32 output $links
workspace 33 output $rechts
workspace 34 output $links
workspace 35 output $rechts
workspace 36 output $links
workspace 37 output $rechts
workspace 38 output $links
workspace 39 output $rechts

workspace 40 output $links
workspace 41 output $rechts
workspace 42 output $links
workspace 43 output $rechts
workspace 44 output $links
workspace 45 output $rechts
workspace 46 output $links
workspace 47 output $rechts
workspace 48 output $links
workspace 49 output $rechts

workspace 50 output $links
workspace 51 output $rechts
workspace 52 output $links
workspace 53 output $rechts
workspace 54 output $links
workspace 55 output $rechts
workspace 56 output $links
workspace 57 output $rechts
workspace 58 output $links
workspace 59 output $rechts

workspace 60 output $links
workspace 61 output $rechts
workspace 62 output $links
workspace 63 output $rechts
workspace 64 output $links
workspace 65 output $rechts
workspace 66 output $links
workspace 67 output $rechts
workspace 68 output $links
workspace 69 output $rechts

workspace 70 output $links
workspace 71 output $rechts
workspace 72 output $links
workspace 73 output $rechts
workspace 74 output $links
workspace 75 output $rechts
workspace 76 output $links
workspace 77 output $rechts
workspace 78 output $links
workspace 79 output $rechts

workspace 80 output $links
workspace 81 output $rechts
workspace 82 output $links
workspace 83 output $rechts
workspace 84 output $links
workspace 85 output $rechts
workspace 86 output $links
workspace 87 output $rechts
workspace 88 output $links
workspace 89 output $rechts

workspace 90 output $links
workspace 91 output $rechts
workspace 92 output $links
workspace 93 output $rechts
workspace 94 output $links
workspace 95 output $rechts
workspace 96 output $links
workspace 97 output $rechts
workspace 98 output $links
workspace 99 output $rechts

# ------------------------------------------------------------------------------------------------------
