# -*- Mode: Shell-script -*-
# alternate-workspace-screens

# Encourage even-numbered workspaces to be on the left side/screen and odd-numbered workspaces to be on
# the right  side/screen.
# ------------------------------------------------------------------------------------------------------

set $op4even HDMI-A-1
set $op4odd  HDMI-A-2

# 4.21. Automatically putting workspaces on specific screens
# https://i3wm.org/docs/userguide.html#workspace_screen

workspace 00 output $op4even
workspace 01 output $op4odd
workspace 02 output $op4even
workspace 03 output $op4odd
workspace 04 output $op4even
workspace 05 output $op4odd
workspace 06 output $op4even
workspace 07 output $op4odd
workspace 08 output $op4even
workspace 09 output $op4odd

workspace 10 output $op4even
workspace 11 output $op4odd
workspace 12 output $op4even
workspace 13 output $op4odd
workspace 14 output $op4even
workspace 15 output $op4odd
workspace 16 output $op4even
workspace 17 output $op4odd
workspace 18 output $op4even
workspace 19 output $op4odd

workspace 20 output $op4even
workspace 21 output $op4odd
workspace 22 output $op4even
workspace 23 output $op4odd
workspace 24 output $op4even
workspace 25 output $op4odd
workspace 26 output $op4even
workspace 27 output $op4odd
workspace 28 output $op4even
workspace 89 output $op4odd

workspace 30 output $op4even
workspace 31 output $op4odd
workspace 32 output $op4even
workspace 33 output $op4odd
workspace 34 output $op4even
workspace 35 output $op4odd
workspace 36 output $op4even
workspace 37 output $op4odd
workspace 38 output $op4even
workspace 39 output $op4odd

workspace 40 output $op4even
workspace 41 output $op4odd
workspace 42 output $op4even
workspace 43 output $op4odd
workspace 44 output $op4even
workspace 45 output $op4odd
workspace 46 output $op4even
workspace 47 output $op4odd
workspace 48 output $op4even
workspace 49 output $op4odd

workspace 50 output $op4even
workspace 51 output $op4odd
workspace 52 output $op4even
workspace 53 output $op4odd
workspace 54 output $op4even
workspace 55 output $op4odd
workspace 56 output $op4even
workspace 57 output $op4odd
workspace 58 output $op4even
workspace 59 output $op4odd

workspace 60 output $op4even
workspace 61 output $op4odd
workspace 62 output $op4even
workspace 63 output $op4odd
workspace 64 output $op4even
workspace 65 output $op4odd
workspace 66 output $op4even
workspace 67 output $op4odd
workspace 68 output $op4even
workspace 69 output $op4odd

workspace 70 output $op4even
workspace 71 output $op4odd
workspace 72 output $op4even
workspace 73 output $op4odd
workspace 74 output $op4even
workspace 75 output $op4odd
workspace 76 output $op4even
workspace 77 output $op4odd
workspace 78 output $op4even
workspace 79 output $op4odd

workspace 80 output $op4even
workspace 81 output $op4odd
workspace 82 output $op4even
workspace 83 output $op4odd
workspace 84 output $op4even
workspace 85 output $op4odd
workspace 86 output $op4even
workspace 87 output $op4odd
workspace 88 output $op4even
workspace 89 output $op4odd

workspace 90 output $op4even
workspace 91 output $op4odd
workspace 92 output $op4even
workspace 93 output $op4odd
workspace 94 output $op4even
workspace 95 output $op4odd
workspace 96 output $op4even
workspace 97 output $op4odd
workspace 98 output $op4even
workspace 99 output $op4odd

# ------------------------------------------------------------------------------------------------------
