# -*- Mode: Shell-script -*-
# alternate-workspace-screens

# Workspaces 04-99 on left and right, even and odd, for side-by-side dual monitor,
# Workspaces 00-03 are special cases to match observed initialisation by system
# ------------------------------------------------------------------------------------------------------

# These three outputs are the three outputs of '.109-output.config' in the same order.
set  $wsfirst HDMI-A-1
set  $wsthird VGA-1
set $wssecond HDMI-A-2

# 4.21. Automatically putting workspaces on specific screens
# https://i3wm.org/docs/userguide.html#workspace_screen

# Reserved workspace.
workspace 00 output $wsfirst
# Right side display.
workspace 01 output $wsthird
# Left side display.
workspace 02 output $wsfirst
# Bottom edge display.
workspace 03 output $wssecond

workspace 04 output $wsfirst
workspace 05 output $wsthird
workspace 06 output $wsfirst
workspace 07 output $wsthird
workspace 08 output $wsfirst
workspace 09 output $wsthird

workspace 10 output $wsfirst
workspace 11 output $wsthird
workspace 12 output $wsfirst
workspace 13 output $wsthird
workspace 14 output $wsfirst
workspace 15 output $wsthird
workspace 16 output $wsfirst
workspace 17 output $wsthird
workspace 18 output $wsfirst
workspace 19 output $wsthird

workspace 20 output $wsfirst
workspace 21 output $wsthird
workspace 22 output $wsfirst
workspace 23 output $wsthird
workspace 24 output $wsfirst
workspace 25 output $wsthird
workspace 26 output $wsfirst
workspace 27 output $wsthird
workspace 28 output $wsfirst
workspace 89 output $wsthird

workspace 30 output $wsfirst
workspace 31 output $wsthird
workspace 32 output $wsfirst
workspace 33 output $wsthird
workspace 34 output $wsfirst
workspace 35 output $wsthird
workspace 36 output $wsfirst
workspace 37 output $wsthird
workspace 38 output $wsfirst
workspace 39 output $wsthird

workspace 40 output $wsfirst
workspace 41 output $wsthird
workspace 42 output $wsfirst
workspace 43 output $wsthird
workspace 44 output $wsfirst
workspace 45 output $wsthird
workspace 46 output $wsfirst
workspace 47 output $wsthird
workspace 48 output $wsfirst
workspace 49 output $wsthird

workspace 50 output $wsfirst
workspace 51 output $wsthird
workspace 52 output $wsfirst
workspace 53 output $wsthird
workspace 54 output $wsfirst
workspace 55 output $wsthird
workspace 56 output $wsfirst
workspace 57 output $wsthird
workspace 58 output $wsfirst
workspace 59 output $wsthird

workspace 60 output $wsfirst
workspace 61 output $wsthird
workspace 62 output $wsfirst
workspace 63 output $wsthird
workspace 64 output $wsfirst
workspace 65 output $wsthird
workspace 66 output $wsfirst
workspace 67 output $wsthird
workspace 68 output $wsfirst
workspace 69 output $wsthird

workspace 70 output $wsfirst
workspace 71 output $wsthird
workspace 72 output $wsfirst
workspace 73 output $wsthird
workspace 74 output $wsfirst
workspace 75 output $wsthird
workspace 76 output $wsfirst
workspace 77 output $wsthird
workspace 78 output $wsfirst
workspace 79 output $wsthird

workspace 80 output $wsfirst
workspace 81 output $wsthird
workspace 82 output $wsfirst
workspace 83 output $wsthird
workspace 84 output $wsfirst
workspace 85 output $wsthird
workspace 86 output $wsfirst
workspace 87 output $wsthird
workspace 88 output $wsfirst
workspace 89 output $wsthird

workspace 90 output $wsfirst
workspace 91 output $wsthird
workspace 92 output $wsfirst
workspace 93 output $wsthird
workspace 94 output $wsfirst
workspace 95 output $wsthird
workspace 96 output $wsfirst
workspace 97 output $wsthird
workspace 98 output $wsfirst
workspace 99 output $wsthird

# ------------------------------------------------------------------------------------------------------

#
# Done.
#
