# -*- Mode: Shell-script-mode
# This file is one big comment about the (starring) role of the numpad in this sway configuration.
# ------------------------------------------------------------------------------------------------------

# Sway and i3 are Window Managers, they are not Desktop Environments like GNOME or KDE. When we start
# binding this key to that function (or is it this function to that key?) it's easy to get carried away:

#                 bindsym $mod4+$mod3+XF86AudioExploder+s+d exec wash_my_socks non_bio 20

# The problem here isn't the use of obscure keys, the problem is that we have silly key combos because
# there are so many functions to bind, and we have too many functions because we bind not only Window
# Manager functions but also Desktop Environment functions.

# The number of "$mod" and "$mod+Shift bindings strikes me as enough for a Window Manager, hence
# 135-mod4-bindings and 137-menu-key-mode are as big as they are.

# The numpad is two things: a "workspace selector" for 100 workspaces and multiple sets of 100 arbitrary
# bash commands (including DE commands), that takes three keystrokes to do its thing, the first one
# selects a workspace operation like 'visit workspace or 'move container to workspace', or a bank of 100
# commands. The second and third keystrokes together select 1 from 100. Workspaces are updated and
# commands are executed after the third keystroke (no need to press return, unlike commandline).

# NUMPAD MECHANISM -------------------------------------------------------------------------------------

# The numeric keypad (numpad) provides 16 keys plus Num_Lock. 11 of the 16 keys generate one or other of
# two keysyms according to Num_Lock state, for example, the big key labeled '0 Ins' generates KP_Insert
# or KP_0. On a desktop PC with the mouse held in the left hand, home keys in the center, the numpad is
# on the right, offset by the same amount as the mouse.

# If we wish to avoid modifier chords (like Control-Alt-Super+) we need more mode keys like Menu. The
# five operator keys / * + Enter/= on the numpad are suitable. To cut a long explanation short, each
# operator keypress can generate 100 commands, which one is decided by pressing two digit keys after the
# operator keypress. Keys / and * perform workspace related operations. Keys - + and Enter are available
# for arbitrary user commands, we say that these three keys provide 300 "command slots". The digit keys
# assume Num_lock is on, the operator keys don't care so they can force Num_lock on.

# LEfT-HANDED? LAPTOP KEYBOARD? ------------------------------------------------------------------------

# Look at the 7 8 9 keys on the main keyboard number row (1st row). Look at the U I O keys on the 2nd row
# and imagine their keycaps say 4 5 6 respectively. Look at the J K L keys on the 3rd row imagine their
# keycaps say 1 2 3 respectively. Look at the M [comma] [dot] keys on the 4th row imagine their keycaps say
# 0 0 [dot] respectively. Note the "double width" 0 key and that the dot key is there too.

# THAT'S YOUR NUMERIC KEYPAD for the five operator keys, it's the right shape and size, albeit sheared to
# the left, smack on top of 3 of the 4 home keys.

# What about the 5 operator keys, are they on the main keyboard too? Yes, {V C P M N}. These letters fought
# off fierce competition for mnemonics, the bindings are memory joggers.

# - [V]isit workspace
# - move [C]ontainer to workspace
# - the [M]inus key
#-  the [P]lus key
#-  the e[N]ter key

# UPDATE Q4 2023 ---------------------------------------------------------------------------------------

# {V C P M N} are still there but augmented by {1 2 3 4 5} for reasons explained in 135-mod4-bindings.

# The laptop numpad hasn't happened, EllaTheCat is using the digits on the numbers row, because it might
# be less efficient but it's one less thing to deal with at the moment.

# +++ VISITING WORKSPACES with the NUMPAD DIV key and ++++++++++++++++++++++++++++++++++++++++++++++++++
# +++ SENDING CONTAINERS TO WORKSPACES with the NUMPAD MUL key +++++++++++++++++++++++++++++++++++++++++

# The / key is hardwired to Visit Workspace, so / 7 8 will visit workspace 78. The * key is hardwired to
# Move Container To Workspace, so * 2 3 will move the container to workspace 23.

# NOTE TO SELF: BIND1NG ONE HUNDRED ACTIONS to each of the NUMPAD SUB / ADD / NTR keys -----------------

# RULE (of thumb) #1. Don't squeeze commands together to be tidy. You will be changing them. Leave enough of
# the original file untouched so you have a template for reverting. Review your backup practices.

# RULE (of thumb) #2. Commands are specified as i3/Sway config, not bash. Delegate to scripts if commands
# get cumbersome, standalone scripts can be eaily made testable, embedded config much less so.

# RULE (of thumb) #3. Learn how to do repetitive edits quickly and accurately using emacs or neovim.  Can
# you manipulate rectangular blocks of text?

# RULE (of thumb) #4. Assuming this project ends up on github, please learn enough basic git to be confident
# that you can do a git pull without losing your work. Learn how to read git diffs, meld. This isn't going
# to run smoothly at first but you won't need a PhD in git either.

# ------------------------------------------------------------------------------------------------------