 # -*- Mode: Shell-script -*-
# menu-key-mode.config
# ------------------------------------------------------------------------------------------------------
#
# ------------------------------------------------------------------------------------------------------
# 1) The $MenuKeys mode corresponds to the $mod+ bindings for default mode given in 135-mod4-bindings.
# 2) The $MoreMenuKeys mode corresponds to the $modshift bindings for default mode and can be entered
#    from default mode after one keystroke.

set $MenuKeys :Menu Keys:
set $MoreMenuKeys :More Menu Keys:

mode "$MenuKeys" {
    # Without exception ...
    bindsym space mode default
    # 20231011: In the event of an Emacs keyboard and mouse lock-out, it has been observed that Menu and
    # Return may still work, and thence sway reload will recover mouse and keyboard.
    bindsym Return reload

    # $mod+Shift+q everywhere, never $mod+q, never q. $mod is Mod4. Kill command.
    bindsym $mod+Shift+q mode "$reaper"

    # Regular terminals for left hand and right hand, identical to default mode.
    bindsym $mod+Tab mode default, exec xfce4-terminal;
    bindsym $mod+Return mode default, exec xfce4-terminal;

    # Dropdown terminal bindings for left hand and right hand identical to default mode. Assumes caps:menu
    # or caps:escape.
    bindsym Control+Menu $dropdownfunction
    bindsym Control+Escape $dropdownfunction

    # Simple keys.
    bindsym z $roficwdr
    bindsym x $roficwfs
    bindsym Menu mode "$MoreMenuKeys"
    #indcode 94 mode "$MoreMenuKeys"
    bindcode 51 mode "$MoreMenuKeys"

    # 2ND and 3RD ROW LAYOUT BEGINS.

    # Query workspaces ...
    bindsym q workspace back_and_forth

    bindsym w focus up
    bindsym a focus left
    bindsym s focus down
    bindsym d focus right

    bindsym i move up
    bindsym j move left
    bindsym k move down
    bindsym l move right

    bindsym t resize shrink height 108 px or 10 ppt
    bindsym f resize shrink width 192 px or 10 ppt
    bindsym g resize grow height 108 px or 10 ppt
    bindsym h resize grow width 192 px or 10 ppt

    bindsym e move container to output left
    bindsym r move container to output right
    bindsym y move workspace to output left
    bindsym u move workspace to output right

    bindsym o exec map-ws-to-op-menu.script
    #       p is bound on 4th row.

    # --------------------------------------------------------------------------------------------------
    # Read the comments in 135-mod4-bindings regarding these five bindings.

    # Bindings for the ZXC (4th) row.
    # These are the equivalent to the arithmetic operator keys, see 135-mod4-bindings.
    bindsym v mode $divkey
    bindsym c mode $mulkey
    bindsym m mode $subkey
    bindsym p mode $addkey
    bindsym n mode $ntrkey
    # These are the equivalent to the deprecated function keys F1-F5, see 135-mod4-bindings.
    bindsym F1 mode $divkey
    bindsym F2 mode $mulkey
    bindsym F3 mode $subkey
    bindsym F4 mode $addkey
    bindsym F5 mode $ntrkey
    # These are the equivalent to the preferred digits 1-5 without the modifier, see 135-mod4-bindings.
    bindsym 1 mode $divkey
    bindsym 2 mode $mulkey
    bindsym 3 mode $subkey
    bindsym 4 mode $addkey
    bindsym 5 mode $ntrkey

    # BMI unhides the bars.
    bindsym b mode default, bar mode toggle;

    # Audio Volumes.
    bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
    bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -3%
    bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +3%
}

# ------------------------------------------------------------------------------------------------------

mode "$MoreMenuKeys" {
    bindsym space mode default
    # 20231011: In the event of an Emacs keyboard and mouse lock-out, it has been observed that Menu and
    # Return may still work, and thence sway reload will recover mouse and keyboard.
    bindsym Return reload

    # $mod+Shift+q everywhere, never $mod+q, never q. $mod is Mod4. Kill command.
    bindsym $mod+Shift+q mode "$reaper"

    # Regular terminals for left hand and right hand, identical to default mode.
    bindsym $mod+Tab    mode default, exec xfce4-terminal;
    bindsym $mod+Return mode default, exec xfce4-terminal;

    # Dropdown terminal bindings for left hand and right hand identical to default mode. Assumes caps:menu
    # or caps:escape.
    bindsym Control+Menu $dropdownfunction
    bindsym Control+Escape $dropdownfunction

    # Simple keys from $MenuKeys, with that mode selectable.
    bindsym z $roficwdr
    bindsym x $roficwfs
    bindsym Menu mode "$MenuKeys"
    #indcode 94 mode "$MenuKeys"
    bindcode 51 mode "$MenuKeys"

    # Provide MenuKeys preferred bindings for these five.
    bindsym 1 mode $divkey
    bindsym 2 mode $mulkey
    bindsym 3 mode $subkey
    bindsym 4 mode $addkey
    bindsym 5 mode $ntrkey

    # Press the key to activate the oldest RED tab.
    bindsym u [urgent="oldest"] focus
    bindsym w [urgent="newest"] focus

    # Move focus to the parent container.
    bindsym p focus parent
    bindsym o focus child

    # Layouts, mnemonic, nothing fancy.
    bindsym s mode $MenuKeys, layout toggle stacking split ;
    bindsym t mode $MenuKeys, layout toggle tabbed split ;

    # Move the currently focused window to the scratchpad.
    bindsym equal move scratchpad

    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    bindsym minus scratchpad show

    # Floating vs tiling. Sticky
    bindsym j floating toggle ;
    bindsym k focus mode_toggle ;
    bindsym l sticky toggle ;

    # Make the current focus fullscreen on one or all monitors.
    bindsym f fullscreen toggle
    bindsym g fullscreen toggle global
    # Alternatives to fullscreen global.
    bindsym h floating enable, resize set width  960 px height 1000 px, move position 0 px 0 px;
    bindsym v floating enable, resize set width 2880 px height 1000 px, move position 0 px 0 px;
    # Footnote: To disable float use h immediately prior to j.

    # Rename any workspace.
    bindsym r exec '$ETC_SWAY_SCRIPTS_DIR/rename-or-swap-ws-menus.script'
}

# ------------------------------------------------------------------------------------------------------

#
# Done.
#
