# -*- Mode: Shell-script -*-
# numpad-operators.config
# ------------------------------------------------------------------------------------------------------

# NUMPAD ARITHMETIC OPERATOR KEYS ----------------------------------------------------------------------

#  NThe 5 (*) arithmetic operator keys each have one keysym that does not change with the state of
#  numlock. Each one of these five has eleven associated modes, one to decide the value of the 1st digit,
#  plus ten to decide the value of the second digit given the value of the first digit.

# THE FIVE KEYS THAT ARE CORRECTLY INDEPENDENT OF Num_Lock ---------------------------------------------

bindsym KP_Divide     mode "$divkey"
bindsym KP_Multiply   mode "$mulkey"
bindsym KP_Subtract   mode "$subkey"
bindsym KP_Add        mode "$addkey"
bindsym KP_Enter      mode "$ntrkey"

# 1st of 2. THE 11 NUMBER KEYSYMS THAT NEED NUMLOCK ON  ------------------------------------------------
# This is the numpad to the right on PC105.
#et $kp0 KP_0
#et $kp1 KP_1
#et $kp2 KP_2
#et $kp3 KP_3
#et $kp4 KP_4
#et $kp5 KP_5
#et $kp6 KP_6
#et $kp7 KP_7
#et $kp8 KP_8
#et $kp9 KP_9
#et $kpd KP_Decimal

# 2nd of 2. THE 11 NAVIGATION KEYSYMS THAT NEED NUMLOCK OFF --------------------------------------------
# This is the numpad to the right on PC105.
#et $kp0 KP_INSERT
#et $kp1 KP_END
#et $kp2 KP_DOWN
#et $kp3 KP_NEXT
#et $kp4 KP_LEFT
#et $kp5 KP_BEGIN
#et $kp6 KP_RIGHT
#et $kp7 KP_HOME
#et $kp8 KP_UP
#et $kp9 KP_PRIOR
#et $kpd KP_DELETE


# THE 12 KEYSYMS THAT MIMIC A COMPUTER NUMPAD ---------------------------------------------------------
# This is the numpad overlay on the main keyboard. The numbers are main keyboard numbers.
# $kpz behaves like $kp0 to mimic the double width KP_0 key.
#et $kp7 7
#et $kp8 8
#et $kp9 9
#et $kp4 u
#et $kp5 i
#et $kp6 o
#et $kp1 j
#et $kp2 k
#et $kp3 l
#et $kp0 m
#et $kpz comma
#et $kpd period


# THE 12 KEYSYMS THAT MIMIC A TELEPHONE NUMPAD ---------------------------------------------------------
# This is the numpad overlay on the main keyboard. The numbers are main keyboard numbers.
#et $kp1 1
#et $kp2 2
#et $kp3 3
#et $kp4 q
#et $kp5 w
#et $kp6 e
#et $kp7 a
#et $kp8 s
#et $kp9 d
#et $kp0 z
#et $kpz x
#et $kpd c

# THE 10 keysyms that match the keycaps. User-friendly training wheels but this is not a numpad any
# more, some keys are too far apart. $kpz and $kpd have become nonsense.
set $kp1 1
set $kp2 2
set $kp3 3
set $kp4 4
set $kp5 5
set $kp6 6
set $kp7 7
set $kp8 8
set $kp9 9
set $kp0 0
set $kpz z
set $kpd d



# FUNCTIONS CALLED BY HE OPERATOR KEYS ----------------------------------------------------------------

# / key, alternatively Mod4+V and/or Fn+1
set $divfn mode default, workspace
# * key, alternatively Mod4+C and/or Fn+2
set $mulfn mode default, exec dunstify "function $mulfn passed value:"
# - key, alternatively Mod4+M and/or Fn+3
set $subfn mode default, exec dunstify "function $subfn passed value:"
# + key, alternatively Mod4+P and/or Fn+4
set $addfn mode default, exec dunstify "function $addfn passed value:"
# = key, alternatively Mod4+N and/or Fn+5
set $ntrfn mode default, exec dunstify "function $ntrfn passed value:"

# WHICH KEYS DOES ELLATHECAT CHOOSE? -------------------------------------------------------------------

# One aim of this project is to suggest bindings suitable for poeple with Parkinson's Disease or
# essential tremor, and of interest to disabled, those caring for them at home, medical professionals,
# and standards bodies. (Dont laugh, I can dream can't I?) That's why I give bindings specific to left
# handed operation, right handed operaation. and single handed operation, so users can choose.

# Another aim of this project is to increase user comfort, and one aspect of that is being able to
# recall what all these damn keys do, how they interact; hence an emphasis on MNEMONICS and PATTERNS.

# EllaTheCat uses Mod4+v to [v]isit a workspace and Mod4+c to move [c]ontainer to workspace because c
# and v sit together, have mnemonics, the letter inside [].

# EllaTheCat uses Fn+3 Fn+4 Fn+5 because they're command oriented, and like teltext pagesin the 1990s,
# she momorises commands a 3 digit numbers.
# ------------------------------------------------------------------------------------------------------
