# -*- Mode: Shell-script -*-
# binding-mode-indicator.config

# Binding Mode Indicator -------------------------------------------------------------------------------

# A protocol relies on the presence of the '-' dash character that serves
# as the prompt or a digit. When the mode changes to a mode with a dash in its name the system knows to
# listen for the mode to change to default, indicating that the two digit command has been executed.

# Press 1of3 waiting on two digits
set $divkey visit workspace --
set $mulkey move container to workspace --
set $subkey call function subfn with value --
set $addkey call function addfn with value --
set $ntrkey call function ntrfn with value --

# Press 2of3 waiting on one digit
set $ws0 Visiting workspace 0-
set $ws1 Visiting workspace 1-
set $ws2 Visiting workspace 2-
set $ws3 Visiting workspace 3-
set $ws4 Visiting workspace 4-
set $ws5 Visiting workspace 5-
set $ws6 Visiting workspace 6-
set $ws7 Visiting workspace 7-
set $ws8 Visiting workspace 8-
set $ws9 Visiting workspace 9-
set $wsA Visiting workspace A-
# Press 2of3 waiting on one digit
set $cws0 Moving object to workspace 0-
set $cws1 Moving object to workspace 1-
set $cws2 Moving object to workspace 2-
set $cws3 Moving object to workspace 3-
set $cws4 Moving object to workspace 4-
set $cws5 Moving object to workspace 5-
set $cws6 Moving object to workspace 6-
set $cws7 Moving object to workspace 7-
set $cws8 Moving object to workspace 8-
set $cws9 Moving object to workspace 9-
set $cwsA Moving object to workspace A-

#  Note: BMI texts must be unique because each is the truename of a mode. Placeholder texts caught me out
#  here! As above function slot modifications do not affect BMI texts.

# Press 2of3 waiting on one digit
set $subfn0 Function call subfn(0-)
set $subfn1 Function call subfn(1-)
set $subfn2 Function call subfn(2-)
set $subfn3 Function call subfn(3-)
set $subfn4 Function call subfn(4-)
set $subfn5 Function call subfn(5-)
set $subfn6 Function call subfn(6-)
set $subfn7 Function call subfn(7-)
set $subfn8 Function call subfn(8-)
set $subfn9 Function call subfn(9-)
# Press 2of3 waiting on one digit
set $addfn0 Function call addfn(0-)
set $addfn1 Function call addfn(1-)
set $addfn2 Function call addfn(2-)
set $addfn3 Function call addfn(3-)
set $addfn4 Function call addfn(4-)
set $addfn5 Function call addfn(5-)
set $addfn6 Function call addfn(6-)
set $addfn7 Function call addfn(7-)
set $addfn8 Function call addfn(8-)
set $addfn9 Function call addfn(9-)
# Press 2of3 waiting on one digit
set $ntrfn0 Function call ntrfn(0-)
set $ntrfn1 Function call ntrfn(1-)
set $ntrfn2 Function call ntrfn(2-)
set $ntrfn3 Function call ntrfn(3-)
set $ntrfn4 Function call ntrfn(4-)
set $ntrfn5 Function call ntrfn(5-)
set $ntrfn6 Function call ntrfn(6-)
set $ntrfn7 Function call ntrfn(7-)
set $ntrfn8 Function call ntrfn(8-)
set $ntrfn9 Function call ntrfn(9-)

# ------------------------------------------------------------------------------------------------------

# Entering this mode will unsubscribe from mode change events
mode unsubscribeModeChange {
    bindsym space mode default
}
