# -*- Mode: Shell-script -*-
# tens-digit-modes.config
# ------------------------------------------------------------------------------------------------------
# Pressing space instead of entering a tens digit is the first and earliest way to cancel the command.
# To enforce the double width key emulation $kpz selects exactly the same mode as $kp0, no exceptions.
# $kpd is unused but may be used, except it should never select an eleventh modem no exceptions.
# The tens digit will be displayed on the binding mode indicator in due course, as confirmation.
# ------------------------------------------------------------------------------------------------------

# UPDATE Q4 2023 Names.


mode "$divkey" {
    bindsym space mode default

    bindsym $kp0 mode "$ws0"
    bindsym $kp1 mode "$ws1"
    bindsym $kp2 mode "$ws2"
    bindsym $kp3 mode "$ws3"
    bindsym $kp4 mode "$ws4"
    bindsym $kp5 mode "$ws5"
    bindsym $kp6 mode "$ws6"
    bindsym $kp7 mode "$ws7"
    bindsym $kp8 mode "$ws8"
    bindsym $kp9 mode "$ws9"

    bindsym $kpz mode "$ws0"
    bindsym $kpd mode "$wsA"
}

mode "$mulkey" {
    bindsym space mode default

    bindsym $kp0 mode "$cws0"
    bindsym $kp1 mode "$cws1"
    bindsym $kp2 mode "$cws2"
    bindsym $kp3 mode "$cws3"
    bindsym $kp4 mode "$cws4"
    bindsym $kp5 mode "$cws5"
    bindsym $kp6 mode "$cws6"
    bindsym $kp7 mode "$cws7"
    bindsym $kp8 mode "$cws8"
    bindsym $kp9 mode "$cws9"

    bindsym $kpz mode "$cws0"
    bindsym $kpd mode "$cwsA"
}

mode "$subkey" {
    bindsym space mode default

    bindsym $kp0 mode "$subfn0"
    bindsym $kp1 mode "$subfn1"
    bindsym $kp2 mode "$subfn2"
    bindsym $kp3 mode "$subfn3"
    bindsym $kp4 mode "$subfn4"
    bindsym $kp5 mode "$subfn5"
    bindsym $kp6 mode "$subfn6"
    bindsym $kp7 mode "$subfn7"
    bindsym $kp8 mode "$subfn8"
    bindsym $kp9 mode "$subfn9"

    bindsym $kpz mode "$subfn0"
    bindsym $kpd mode default
}

mode "$addkey" {
    bindsym space mode default

    bindsym $kp0 mode "$addfn0"
    bindsym $kp1 mode "$addfn1"
    bindsym $kp2 mode "$addfn2"
    bindsym $kp3 mode "$addfn3"
    bindsym $kp4 mode "$addfn4"
    bindsym $kp5 mode "$addfn5"
    bindsym $kp6 mode "$addfn6"
    bindsym $kp7 mode "$addfn7"
    bindsym $kp8 mode "$addfn8"
    bindsym $kp9 mode "$addfn9"

    bindsym $kpz mode "$addfn0"
    bindsym $kpd mode default
}

mode "$ntrkey" {
    bindsym space mode default

    bindsym $kp0 mode "$ntrfn0"
    bindsym $kp1 mode "$ntrfn1"
    bindsym $kp2 mode "$ntrfn2"
    bindsym $kp3 mode "$ntrfn3"
    bindsym $kp4 mode "$ntrfn4"
    bindsym $kp5 mode "$ntrfn5"
    bindsym $kp6 mode "$ntrfn6"
    bindsym $kp7 mode "$ntrfn7"
    bindsym $kp8 mode "$ntrfn8"
    bindsym $kp9 mode "$ntrfn9"

    bindsym $kpz mode "$ntrfn0"
    bindsym $kpd mode default
}

# -----------------------------------------------------------------------------------------------------
