# -*- Mode: Shell-script -*-
# divkey-units-digit.config
# ======================================================================================================

# IF YOU ARE READING THIS FOR THE FIRST TIME, skip ahead to mode $ws1 to understand the basic
# concept. Search in file for XYZZY. It might also help to look at 152-mulkey-units-digit now, and then
# come back here.

# ------------------------------------------------------------------------------------------------------

# By default there are 10 modes with 10 bindings, the first digit enters one of the modes so that the
# second digit can trigger the binding with its matching number.

# ------------------------------------------------------------------------------------------------------
# About $kpz and $kpd.

# $kpz - The canonical numpad has a double-width $kp0 key. The z in $kpz stands for zero, as in
# $kp0. When we try to overlay the numpad layout on the main keyboard, we bind $kpz to whatever we have
# bound $kp0 to, for a double-width feel.

# $kpd - The canonical numpad has a key between the double-width $kp0 key and Enter, for use as a
# decimal point. The d in $kpd stands for decimal (or Delete).

# In 145-tens-digit-modes $kpz is mapped to whatever kp0 is mapped to to preserve the double-width
# trick and $kpd is a nop / mode default. This means you may just ignore them and do nothing.

# In the units modes things can get a bit silly, You have ten bindings per decade, but nothing stops
# you from hijacking $kpz and $kpd. I now try not to, to avoid explaining why! Nevertheless here's an
# example of hijackimg $kpd.


#   Layout: splith
#   Representation: H[firefox firefox xfce4-terminal]
#
# Workspace 01 (off-screen)
#   Output: HDMI-A-1
#   Layout: splith
#   Representation: H[firefox]

# --------------------------------------------------------------------------------------------------------

set $divnumber --no-auto-back-and-forth number

mode "$ws0" {
     bindsym space mode default

     # The system numbers the initially empty workspaces starting from one as 1,2,3.
     # Workspace 00 has been seen in the field.
     bindsym $kp0 mode default
     bindsym $kpz mode default
     bindsym $kpd mode default

     bindsym $kp1 mode default, \
             exec desktop-workspace.script 01 pavucontrol.desktop 3
     bindsym $kp2 mode default, \
             exec desktop-workspace.script 02 bpytop.desktop 6
     bindsym $kp3 mode default, \
             exec desktop-workspace.script 03 emacs-server.desktop 9
     # Technology
     bindsym $kp4 mode default, \
             exec website-workspace.script 04:1 new:1 "https://www.reddit.com/r/Fedora/" ;
     bindsym $kp5 mode default, \
             exec website-workspace.script 05:1 new:1 "https://github.com/EllaTheCat/dopamine-2024" ;
     # Mail
     #
     # Thunderbird doesn't run in a browser, but it needs one often enough that we can "bind" the app to
     # the browser and pretend Thunderbird IS a browser. The 1st URL is loaded into the browser (gmail
     # webmail image) and the 2nd is the sneaky flag indicating Thunderbird is along for the ride.
     # Fuerteventura photo:
     # https://e.pcloud.link/publink/show?code=XZgl4WZ6nRteFnlSezgay97mYsWq8qwDhHX
     bindsym $kp6 mode default, \
             exec website-workspace.script 06:1 new:1 \
             "file:///home/ellathecat/Desktop/20200215_095344.jpg" \
             "https://www.thunderbird.net/en-GB/" ;
    bindsym $kp7 mode default, \
            exec website-workspace.script 07:1 new:1 \
            "https://mail.google.com/mail/u/0/#inbox" \
            "https://www.pcmanfm.net/en-GB/" ;
    # Music
    #
    bindsym $kp8 mode default, \
             exec website-workspace.script 08:1 new:1 "https://www.spotify.com" ;
    bindsym $kp9 mode default, \
             exec website-workspace.script 09:1 new:1 "https://mi-soul.com" ;
}

# XYZZY -----------------------------------------------------------------------------------------------

mode "$ws1" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace $divnumber 10 ;
    bindsym $kp1 mode default, workspace $divnumber 11 ;
    bindsym $kp2 mode default, workspace $divnumber 12 ;
    bindsym $kp3 mode default, workspace $divnumber 13 ;
    bindsym $kp4 mode default, workspace $divnumber 14 ;
    bindsym $kp5 mode default, workspace $divnumber 15 ;
    bindsym $kp6 mode default, workspace $divnumber 16 ;
    bindsym $kp7 mode default, workspace $divnumber 17 ;
    bindsym $kp8 mode default, workspace $divnumber 18 ;
    bindsym $kp9 mode default, workspace $divnumber 19 ;

    bindsym $kpz mode default, workspace $divnumber 10 ;
    bindsym $kpd mode default
}


mode "$ws2" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace $divnumber 20 ;
    bindsym $kp1 mode default, workspace $divnumber 21 ;
    bindsym $kp2 mode default, workspace $divnumber 22 ;
    bindsym $kp3 mode default, workspace $divnumber 23 ;
    bindsym $kp4 mode default, workspace $divnumber 24 ;
    bindsym $kp5 mode default, workspace $divnumber 25 ;
    bindsym $kp6 mode default, workspace $divnumber 26 ;
    bindsym $kp7 mode default, workspace $divnumber 27 ;
    bindsym $kp8 mode default, workspace $divnumber 28 ;
    bindsym $kp9 mode default, workspace $divnumber 29 ;

    bindsym $kpz mode default, workspace $divnumber 20 ;
    bindsym $kpd mode default
}

# --------------------------------------------------------------------------------------------------------

# emacsclient-workspace.script, emacsserver-workspace.script, emacs-workspace-setup.script
mode "$ws3" {
    bindsym space mode default

    # emacsclients
    bindsym $kpz mode default, exec emacsclient-workspace.script 30:1 :1 ;
    bindsym $kp0 mode default, exec emacsclient-workspace.script 30:1 :1 ;
    bindsym $kp1 mode default, exec emacsclient-workspace.script 31:1 :1 ;
    bindsym $kp2 mode default, exec emacsclient-workspace.script 32:1 :1 ;
    # emascserver
    bindsym $kp3 mode default, exec emacsserver-workspace.script 33:1 :1 ;
    # emacsclients
    bindsym $kp4 mode default, exec emacsclient-workspace.script 34:1 :1 ;
    bindsym $kp5 mode default, exec emacsclient-workspace.script 35:1 :1 ;
    bindsym $kp6 mode default, exec emacsclient-workspace.script 36:2 :1 ;
    bindsym $kp7 mode default, exec emacsclient-workspace.script 37:2 :1 ;

    # emacsserver workspace plus client workspaces all-in-one
    bindsym $kpd mode default, \
        exec emacs-workspace-setup.script ellathecat 33 12:7 ;

    # Video streaming entertainment
    bindsym $kp8 mode default, \
            exec website-workspace.script 08:1 new:1 \
            "https://tv.apple.com/gb"
    bindsym $kp9 mode default, \
            exec website-workspace.script 09:1 new:1 \
            "https://www.bbc.co.uk/iplayer"
}

# website-workspace.script
# Used to reserve workspaces for web browsing. The script knowas about this block and presumptiously
# loads a set of sway manual pages and an i3 user's guide instead of the browser default.
mode "$ws4" {
    bindsym space mode default

    bindsym $kp0 mode default, exec website-workspace.script  40:1 new:1 ;
    bindsym $kp1 mode default, exec website-workspace.script  41:1 new:1 ;
    bindsym $kp2 mode default, exec website-workspace.script  42:1 new:1 ;
    bindsym $kp3 mode default, exec website-workspace.script  43:1 new:1 ;
    bindsym $kp4 mode default, exec website-workspace.script  44:1 new:1 ;
    bindsym $kp5 mode default, exec website-workspace.script  45:2 new:1 ;
    bindsym $kp6 mode default, exec website-workspace.script  46:2 new:1 ;
    bindsym $kp7 mode default, exec website-workspace.script  47:2 new:1 ;
    bindsym $kp8 mode default, exec website-workspace.script  48:3 new:1 ;
    bindsym $kp9 mode default, exec website-workspace.script  49:3 new:1 ;

    bindsym $kpz mode default, exec website-workspace.script  40:1 new:1 ;
    bindsym $kpd mode default
}

# files-workspace.script The script knows what the shortcuts (orion osaka titan tokyo) refer to
# (top-level folders on eponymous storage devices) and what folder to show.
set $div5exe /home/ellathecat/.config/sway/scripts.d/files-workspace.script
mode "$ws5" {
    bindsym space mode default

    bindsym $kpz mode default, exec $div4exe 50:1 :1 ;
    bindsym $kp0 mode default, exec $div5exe 50:1 :1 ;
    bindsym $kp1 mode default, exec $div5exe 51:1 :1 ;
    bindsym $kp2 mode default, exec $div5exe 52:2 :1 ;
    bindsym $kp3 mode default, exec $div5exe 53:2 :1 ;
    bindsym $kp4 mode default, exec $div5exe 54:2 :1 ;
    bindsym $kp5 mode default, exec $div5exe 55:2 :1 ;
    bindsym $kp6 mode default, exec $div5exe 56:3 :1 ;
    bindsym $kp7 mode default, exec $div5exe 57:3 :1 ;
    bindsym $kp8 mode default, exec $div5exe 58:4 :1 ;
    bindsym $kp9 mode default, exec $div5exe 59:4 :2 orion osaka titan tokyo ;

    bindsym $kpd mode default
}

# website-workspace.script
# media, social,
# We can clearly see with three urls that the url list must be supplied in reverse of display order.
mode "$ws6" {
    bindsym space mode default

    # Manpages used often better cached locally (save as web page complete)
    # Paste the URL from the browser, DO NOT enclose in single quotes.
    bindsym $kp1 mode default, exec website-workspace.script 61:2 new:1 \
            "file:///home/ellathecat/WebPageCache/sway(1)%20%E2%80%94%20Arch%20manual%20pages.html" \
            "file:///home/ellathecat/WebPageCache/sway(5)%20%E2%80%94%20Arch%20manual%20pages.html" ;

    # Canonical BBC radio station and a DLNA  server.
    bindsym $kp2 mode default,  exec website-workspace.script 62:2 new:1 \
            "http://192.168.1.33:8200"  \
            "https://www.bbc.co.uk/sounds/play/live:bbc_radio_fourfm"  ;

    # three urls, three windows appear, each a quality BBC channel in the UK.
    # url order is reverse of display order/
    bindsym $kp3 mode default, workspace 63, exec website-workspace.script 3 new \
            "https://www.bbc.co.uk/bbcfour" \
            "https://www.bbc.co.uk/bbctwo" "https://www.bbc.co.uk/bbcone" ;

    bindsym $kp4 mode default, exec website-workspace.script  64:1 new:1 ;
    bindsym $kp5 mode default, exec website-workspace.script  65:1 new:1 ;
    bindsym $kp6 mode default, exec website-workspace.script  66:1 new:1 ;

    bindsym $kp7 mode default, exec website-workspace.script  67:1 new:1 ;
    bindsym $kp8 mode default, exec website-workspace.script  68:2 new:1 ;
    bindsym $kp9 mode default, exec website-workspace.script  69:3 new:1 ;

    bindsym $kpz mode default
    bindsym $kp0 mode default
    bindsym $kpd mode default
}

# ------------------------------------------------------------------------------------------------------

mode "$ws7" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace $divnumber 70 ;
    bindsym $kp1 mode default, workspace $divnumber 71 ;
    bindsym $kp2 mode default, workspace $divnumber 72 ;
    bindsym $kp3 mode default, workspace $divnumber 73 ;
    bindsym $kp4 mode default, workspace $divnumber 74 ;
    bindsym $kp5 mode default, workspace $divnumber 75 ;
    bindsym $kp6 mode default, workspace $divnumber 76 ;
    bindsym $kp7 mode default, workspace $divnumber 77 ;
    bindsym $kp8 mode default, workspace $divnumber 78 ;
    bindsym $kp9 mode default, workspace $divnumber 79 ;

    bindsym $kpz mode default, workspace $divnumber 70 ;
    bindsym $kpd mode default
}

mode "$ws8" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace $divnumber 80 ;
    bindsym $kp1 mode default, workspace $divnumber 81 ;
    bindsym $kp2 mode default, workspace $divnumber 82 ;
    bindsym $kp3 mode default, workspace $divnumber 83 ;
    bindsym $kp4 mode default, workspace $divnumber 84 ;
    bindsym $kp5 mode default, workspace $divnumber 85 ;
    bindsym $kp6 mode default, workspace $divnumber 86 ;
    bindsym $kp7 mode default, workspace $divnumber 87 ;
    bindsym $kp8 mode default, workspace $divnumber 88 ;
    bindsym $kp9 mode default, workspace $divnumber 89 ;

    bindsym $kpz mode default, workspace $divnumber 80 ;
    bindsym $kpd mode default
}

mode "$ws9" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace $divnumber 90 ;
    bindsym $kp1 mode default, workspace $divnumber 91 ;
    bindsym $kp2 mode default, workspace $divnumber 92 ;
    bindsym $kp3 mode default, workspace $divnumber 93 ;
    bindsym $kp4 mode default, workspace $divnumber 94 ;
    bindsym $kp5 mode default, workspace $divnumber 95 ;
    bindsym $kp6 mode default, workspace $divnumber 96 ;
    bindsym $kp7 mode default, workspace $divnumber 97 ;
    bindsym $kp8 mode default, workspace $divnumber 98 ;
    bindsym $kp9 mode default, workspace $divnumber 99 ;

    bindsym $kpz mode default, workspace $divnumber 90 ;
    bindsym $kpd mode default
}

# ------------------------------------------------------------------------------------------------------

mode "$wsA" {
     bindsym space mode default

     bindsym $kp0 mode default, workspace A0 ;
     bindsym $kp1 mode default, workspace A1 ;
     bindsym $kp2 mode default, workspace A2 ;
     bindsym $kp3 mode default, workspace A3 ;
     bindsym $kp4 mode default, workspace A4 ;
     bindsym $kp5 mode default, workspace A5 ;
     bindsym $kp6 mode default, workspace A6 ;
     bindsym $kp7 mode default, workspace A7 ;
     bindsym $kp8 mode default, workspace A8 ;
     bindsym $kp9 mode default, workspace A9 ;

     bindsym $kpz mode default, workspace A0 ;
     bindsym $kpd mode default, workspace AA ;
}

# ------------------------------------------------------------------------------------------------------

#
# Done.
#
