# -*- Mode: Shell-script -*-
# mulkey-units-digit.config
# ------------------------------------------------------------------------------------------------------

# These 10 modes privide the 'move container to workspace' command for each of t100 workspaces.

# If you're new to the double-digit commands implementation, you likely started with the visit workspace
# commands of 151-divkey-units-digit, and were redirected here. That's because this file's structure is
# consistent, stare at it and you;ll see how it ties together.

# Why is the 'move container to workspace XY' followed by 'workspace XY'? That's because the move
# command does what it says it moves the container but leaves the user behind, This is counter-intuitive
# for me, so adding the visit workspace bringss the user akong woth the contianer.

mode "$cws0" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 00, workspace --no-auto-back-and-forth] 00;
     bindsym $kp1 mode default, move container to workspace 01, workspace --no-auto-back-and-forth] 01;
     bindsym $kp2 mode default, move container to workspace 02, workspace --no-auto-back-and-forth] 02;
     bindsym $kp3 mode default, move container to workspace 03, workspace --no-auto-back-and-forth] 03;
     bindsym $kp4 mode default, move container to workspace 04, workspace --no-auto-back-and-forth] 04;
     bindsym $kp5 mode default, move container to workspace 05, workspace --no-auto-back-and-forth] 05;
     bindsym $kp6 mode default, move container to workspace 06, workspace --no-auto-back-and-forth] 06;
     bindsym $kp7 mode default, move container to workspace 07, workspace --no-auto-back-and-forth] 07;
     bindsym $kp8 mode default, move container to workspace 08, workspace --no-auto-back-and-forth] 08;
     bindsym $kp9 mode default, move container to workspace 09, workspace --no-auto-back-and-forth] 09;

     bindsym $kpz mode default, move container to workspace 00, workspace --no-auto-back-and-forth] 00;
     bindsym $kpd mode default
}

mode "$cws1" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 10, workspace --no-auto-back-and-forth] 10 ;
     bindsym $kp1 mode default, move container to workspace 11, workspace --no-auto-back-and-forth] 11 ;
     bindsym $kp2 mode default, move container to workspace 12, workspace --no-auto-back-and-forth] 12 ;
     bindsym $kp3 mode default, move container to workspace 13, workspace --no-auto-back-and-forth] 13 ;
     bindsym $kp4 mode default, move container to workspace 14, workspace --no-auto-back-and-forth] 14 ;
     bindsym $kp5 mode default, move container to workspace 15, workspace --no-auto-back-and-forth] 15 ;
     bindsym $kp6 mode default, move container to workspace 16, workspace --no-auto-back-and-forth] 16 ;
     bindsym $kp7 mode default, move container to workspace 17, workspace --no-auto-back-and-forth] 17 ;
     bindsym $kp8 mode default, move container to workspace 18, workspace --no-auto-back-and-forth] 18 ;
     bindsym $kp9 mode default, move container to workspace 19, workspace --no-auto-back-and-forth] 19 ;

     bindsym $kpz mode default, move container to workspace 10, workspace --no-auto-back-and-forth] 10 ;
     bindsym $kpd mode default
}

mode "$cws2" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 20, workspace --no-auto-back-and-forth] 20 ;
     bindsym $kp1 mode default, move container to workspace 21, workspace --no-auto-back-and-forth] 21 ;
     bindsym $kp2 mode default, move container to workspace 22, workspace --no-auto-back-and-forth] 22 ;
     bindsym $kp3 mode default, move container to workspace 23, workspace --no-auto-back-and-forth] 23 ;
     bindsym $kp4 mode default, move container to workspace 24, workspace --no-auto-back-and-forth] 24 ;
     bindsym $kp5 mode default, move container to workspace 25, workspace --no-auto-back-and-forth] 25 ;
     bindsym $kp6 mode default, move container to workspace 26, workspace --no-auto-back-and-forth] 26 ;
     bindsym $kp7 mode default, move container to workspace 27, workspace --no-auto-back-and-forth] 27 ;
     bindsym $kp8 mode default, move container to workspace 28, workspace --no-auto-back-and-forth] 28 ;
     bindsym $kp9 mode default, move container to workspace 29, workspace --no-auto-back-and-forth] 29 ;

     bindsym $kpz mode default, move container to workspace 20, workspace --no-auto-back-and-forth] 20 ;
     bindsym $kpd mode default
}

mode "$cws3" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 30, workspace --no-auto-back-and-forth] 30 ;
     bindsym $kp1 mode default, move container to workspace 31, workspace --no-auto-back-and-forth] 31 ;
     bindsym $kp2 mode default, move container to workspace 32, workspace --no-auto-back-and-forth] 32 ;
     bindsym $kp3 mode default, move container to workspace 33, workspace --no-auto-back-and-forth] 33 ;
     bindsym $kp4 mode default, move container to workspace 34, workspace --no-auto-back-and-forth] 34 ;
     bindsym $kp5 mode default, move container to workspace 35, workspace --no-auto-back-and-forth] 35 ;
     bindsym $kp6 mode default, move container to workspace 36, workspace --no-auto-back-and-forth] 36 ;
     bindsym $kp7 mode default, move container to workspace 37, workspace --no-auto-back-and-forth] 37 ;
     bindsym $kp8 mode default, move container to workspace 38, workspace --no-auto-back-and-forth] 38 ;
     bindsym $kp9 mode default, move container to workspace 39, workspace --no-auto-back-and-forth] 39 ;

     bindsym $kpz mode default, move container to workspace 30, workspace --no-auto-back-and-forth] 30 ;
     bindsym $kpd mode default
}

mode "$cws4" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 40, workspace --no-auto-back-and-forth] 40 ;
     bindsym $kp1 mode default, move container to workspace 41, workspace --no-auto-back-and-forth] 41 ;
     bindsym $kp2 mode default, move container to workspace 42, workspace --no-auto-back-and-forth] 42 ;
     bindsym $kp3 mode default, move container to workspace 43, workspace --no-auto-back-and-forth] 43 ;
     bindsym $kp4 mode default, move container to workspace 44, workspace --no-auto-back-and-forth] 44 ;
     bindsym $kp5 mode default, move container to workspace 45, workspace --no-auto-back-and-forth] 45 ;
     bindsym $kp6 mode default, move container to workspace 46, workspace --no-auto-back-and-forth] 46 ;
     bindsym $kp7 mode default, move container to workspace 47, workspace --no-auto-back-and-forth] 47 ;
     bindsym $kp8 mode default, move container to workspace 48, workspace --no-auto-back-and-forth] 48 ;
     bindsym $kp9 mode default, move container to workspace 49, workspace --no-auto-back-and-forth] 49 ;

     bindsym $kpz mode default, move container to workspace 40, workspace --no-auto-back-and-forth] 40 ;
     bindsym $kpd mode default
}


mode "$cws5" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 50, workspace --no-auto-back-and-forth] 50 ;
     bindsym $kp1 mode default, move container to workspace 51, workspace --no-auto-back-and-forth] 51 ;
     bindsym $kp2 mode default, move container to workspace 52, workspace --no-auto-back-and-forth] 52 ;
     bindsym $kp3 mode default, move container to workspace 53, workspace --no-auto-back-and-forth] 53 ;
     bindsym $kp4 mode default, move container to workspace 54, workspace --no-auto-back-and-forth] 54 ;
     bindsym $kp5 mode default, move container to workspace 55, workspace --no-auto-back-and-forth] 55 ;
     bindsym $kp6 mode default, move container to workspace 56, workspace --no-auto-back-and-forth] 56 ;
     bindsym $kp7 mode default, move container to workspace 57, workspace --no-auto-back-and-forth] 57 ;
     bindsym $kp8 mode default, move container to workspace 58, workspace --no-auto-back-and-forth] 58 ;
     bindsym $kp9 mode default, move container to workspace 59, workspace --no-auto-back-and-forth] 59 ;

     bindsym $kpz mode default, move container to workspace 50, workspace --no-auto-back-and-forth] 50 ;
     bindsym $kpd mode default
}


mode "$cws6" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 60, workspace --no-auto-back-and-forth] 60 ;
     bindsym $kp1 mode default, move container to workspace 61, workspace --no-auto-back-and-forth] 61 ;
     bindsym $kp2 mode default, move container to workspace 62, workspace --no-auto-back-and-forth] 62 ;
     bindsym $kp3 mode default, move container to workspace 63, workspace --no-auto-back-and-forth] 63 ;
     bindsym $kp4 mode default, move container to workspace 64, workspace --no-auto-back-and-forth] 64 ;
     bindsym $kp5 mode default, move container to workspace 65, workspace --no-auto-back-and-forth] 65 ;
     bindsym $kp6 mode default, move container to workspace 66, workspace --no-auto-back-and-forth] 66 ;
     bindsym $kp7 mode default, move container to workspace 67, workspace --no-auto-back-and-forth] 67 ;
     bindsym $kp8 mode default, move container to workspace 68, workspace --no-auto-back-and-forth] 68 ;
     bindsym $kp9 mode default, move container to workspace 69, workspace --no-auto-back-and-forth] 69 ;

     bindsym $kpz mode default, move container to workspace 60, workspace --no-auto-back-and-forth] 60 ;
     bindsym $kpd mode default
}


mode "$cws7" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 70, workspace --no-auto-back-and-forth] 70 ;
     bindsym $kp1 mode default, move container to workspace 71, workspace --no-auto-back-and-forth] 71 ;
     bindsym $kp2 mode default, move container to workspace 72, workspace --no-auto-back-and-forth] 72 ;
     bindsym $kp3 mode default, move container to workspace 73, workspace --no-auto-back-and-forth] 73 ;
     bindsym $kp4 mode default, move container to workspace 74, workspace --no-auto-back-and-forth] 74 ;
     bindsym $kp5 mode default, move container to workspace 75, workspace --no-auto-back-and-forth] 75 ;
     bindsym $kp6 mode default, move container to workspace 76, workspace --no-auto-back-and-forth] 76 ;
     bindsym $kp7 mode default, move container to workspace 77, workspace --no-auto-back-and-forth] 77 ;
     bindsym $kp8 mode default, move container to workspace 78, workspace --no-auto-back-and-forth] 78 ;
     bindsym $kp9 mode default, move container to workspace 79, workspace --no-auto-back-and-forth] 79 ;

     bindsym $kpz mode default, move container to workspace 70, workspace --no-auto-back-and-forth] 70 ;
     bindsym $kpd mode default
}


mode "$cws8" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 00, workspace --no-auto-back-and-forth] 80 ;
     bindsym $kp1 mode default, move container to workspace 81, workspace --no-auto-back-and-forth] 81 ;
     bindsym $kp2 mode default, move container to workspace 82, workspace --no-auto-back-and-forth] 82 ;
     bindsym $kp3 mode default, move container to workspace 83, workspace --no-auto-back-and-forth] 83 ;
     bindsym $kp4 mode default, move container to workspace 84, workspace --no-auto-back-and-forth] 84 ;
     bindsym $kp5 mode default, move container to workspace 85, workspace --no-auto-back-and-forth] 85 ;
     bindsym $kp6 mode default, move container to workspace 86, workspace --no-auto-back-and-forth] 86 ;
     bindsym $kp7 mode default, move container to workspace 87, workspace --no-auto-back-and-forth] 87 ;
     bindsym $kp8 mode default, move container to workspace 88, workspace --no-auto-back-and-forth] 88 ;
     bindsym $kp9 mode default, move container to workspace 89, workspace --no-auto-back-and-forth] 89 ;

     bindsym $kpz mode default, move container to workspace 80, workspace --no-auto-back-and-forth] 80 ;
     bindsym $kpd mode default
}


mode "$cws9" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace 90, workspace --no-auto-back-and-forth] 90 ;
     bindsym $kp1 mode default, move container to workspace 91, workspace --no-auto-back-and-forth] 91 ;
     bindsym $kp2 mode default, move container to workspace 92, workspace --no-auto-back-and-forth] 92 ;
     bindsym $kp3 mode default, move container to workspace 93, workspace --no-auto-back-and-forth] 93 ;
     bindsym $kp4 mode default, move container to workspace 94, workspace --no-auto-back-and-forth] 94 ;
     bindsym $kp5 mode default, move container to workspace 95, workspace --no-auto-back-and-forth] 95 ;
     bindsym $kp6 mode default, move container to workspace 96, workspace --no-auto-back-and-forth] 96 ;
     bindsym $kp7 mode default, move container to workspace 97, workspace --no-auto-back-and-forth] 97 ;
     bindsym $kp8 mode default, move container to workspace 98, workspace --no-auto-back-and-forth] 98 ;
     bindsym $kp9 mode default, move container to workspace 99, workspace --no-auto-back-and-forth] 99 ;

     bindsym $kpz mode default, move container to workspace 90, workspace --no-auto-back-and-forth] 90 ;
     bindsym $kpd mode default
}


# ------------------------------------------------------------------------------------------------------
