# -*- Mode: Shell-script -*-
# mulkey-units-digit.config
# ------------------------------------------------------------------------------------------------------

# These 10 modes privide the 'move container to workspace' command for each of t100 workspaces.

# If you're new to the double-digit commands implementation, you likely started with the visit workspace
# commands of 151-divkey-units-digit, and were redirected here. That's because this file's structure is
# consistent, stare at it and you;ll see how it ties together.

# Why is the 'move container to workspace XY' followed by 'workspace XY'? That's because the move
# command does what it says it moves the container but leaves the user behind, This is counter-intuitive
# for me, so adding the visit workspace bringss the user akong woth the container.

# DANGER WILL ROBINSON - c style hack to reduce line length.
set $number --no-auto-back-and-forth number

mode "$cws0" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 00, workspace $number 00 ;
     bindsym $kp1 mode default, move container to workspace number 01, workspace $number 01 ;
     bindsym $kp2 mode default, move container to workspace number 02, workspace $number 02 ;
     bindsym $kp3 mode default, move container to workspace number 03, workspace $number 03 ;
     bindsym $kp4 mode default, move container to workspace number 04, workspace $number 04 ;
     bindsym $kp5 mode default, move container to workspace number 05, workspace $number 05 ;
     bindsym $kp6 mode default, move container to workspace number 06, workspace $number 06 ;
     bindsym $kp7 mode default, move container to workspace number 07, workspace $number 07 ;
     bindsym $kp8 mode default, move container to workspace number 08, workspace $number 08 ;
     bindsym $kp9 mode default, move container to workspace number 09, workspace $number 09 ;

     bindsym $kpz mode default, move container to workspace number 00, workspace $number 00 ;
     bindsym $kpd mode default
}

mode "$cws1" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 10, workspace $number 10 ;
     bindsym $kp1 mode default, move container to workspace number 11, workspace $number 11 ;
     bindsym $kp2 mode default, move container to workspace number 12, workspace $number 12 ;
     bindsym $kp3 mode default, move container to workspace number 13, workspace $number 13 ;
     bindsym $kp4 mode default, move container to workspace number 14, workspace $number 14 ;
     bindsym $kp5 mode default, move container to workspace number 15, workspace $number 15 ;
     bindsym $kp6 mode default, move container to workspace number 16, workspace $number 16 ;
     bindsym $kp7 mode default, move container to workspace number 17, workspace $number 17 ;
     bindsym $kp8 mode default, move container to workspace number 18, workspace $number 18 ;
     bindsym $kp9 mode default, move container to workspace number 19, workspace $number 19 ;

     bindsym $kpz mode default, move container to workspace number 10, workspace $number 10 ;
     bindsym $kpd mode default
}

mode "$cws2" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 20, workspace $number 20 ;
     bindsym $kp1 mode default, move container to workspace number 21, workspace $number 21 ;
     bindsym $kp2 mode default, move container to workspace number 22, workspace $number 22 ;
     bindsym $kp3 mode default, move container to workspace number 23, workspace $number 23 ;
     bindsym $kp4 mode default, move container to workspace number 24, workspace $number 24 ;
     bindsym $kp5 mode default, move container to workspace number 25, workspace $number 25 ;
     bindsym $kp6 mode default, move container to workspace number 26, workspace $number 26 ;
     bindsym $kp7 mode default, move container to workspace number 27, workspace $number 27 ;
     bindsym $kp8 mode default, move container to workspace number 28, workspace $number 28 ;
     bindsym $kp9 mode default, move container to workspace number 29, workspace $number 29 ;

     bindsym $kpz mode default, move container to workspace number 20, workspace $number 20 ;
     bindsym $kpd mode default
}

mode "$cws3" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 30, workspace $number 30 ;
     bindsym $kp1 mode default, move container to workspace number 31, workspace $number 31 ;
     bindsym $kp2 mode default, move container to workspace number 32, workspace $number 32 ;
     bindsym $kp3 mode default, move container to workspace number 33, workspace $number 33 ;
     bindsym $kp4 mode default, move container to workspace number 34, workspace $number 34 ;
     bindsym $kp5 mode default, move container to workspace number 35, workspace $number 35 ;
     bindsym $kp6 mode default, move container to workspace number 36, workspace $number 36 ;
     bindsym $kp7 mode default, move container to workspace number 37, workspace $number 37 ;
     bindsym $kp8 mode default, move container to workspace number 38, workspace $number 38 ;
     bindsym $kp9 mode default, move container to workspace number 39, workspace $number 39 ;

     bindsym $kpz mode default, move container to workspace number 30, workspace $number 30 ;
     bindsym $kpd mode default
}

mode "$cws4" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 40, workspace $number 40 ;
     bindsym $kp1 mode default, move container to workspace number 41, workspace $number 41 ;
     bindsym $kp2 mode default, move container to workspace number 42, workspace $number 42 ;
     bindsym $kp3 mode default, move container to workspace number 43, workspace $number 43 ;
     bindsym $kp4 mode default, move container to workspace number 44, workspace $number 44 ;
     bindsym $kp5 mode default, move container to workspace number 45, workspace $number 45 ;
     bindsym $kp6 mode default, move container to workspace number 46, workspace $number 46 ;
     bindsym $kp7 mode default, move container to workspace number 47, workspace $number 47 ;
     bindsym $kp8 mode default, move container to workspace number 48, workspace $number 48 ;
     bindsym $kp9 mode default, move container to workspace number 49, workspace $number 49 ;

     bindsym $kpz mode default, move container to workspace number 40, workspace $number 40 ;
     bindsym $kpd mode default
}


mode "$cws5" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 50, workspace $number 50 ;
     bindsym $kp1 mode default, move container to workspace number 51, workspace $number 51 ;
     bindsym $kp2 mode default, move container to workspace number 52, workspace $number 52 ;
     bindsym $kp3 mode default, move container to workspace number 53, workspace $number 53 ;
     bindsym $kp4 mode default, move container to workspace number 54, workspace $number 54 ;
     bindsym $kp5 mode default, move container to workspace number 55, workspace $number 55 ;
     bindsym $kp6 mode default, move container to workspace number 56, workspace $number 56 ;
     bindsym $kp7 mode default, move container to workspace number 57, workspace $number 57 ;
     bindsym $kp8 mode default, move container to workspace number 58, workspace $number 58 ;
     bindsym $kp9 mode default, move container to workspace number 59, workspace $number 59 ;

     bindsym $kpz mode default, move container to workspace number 50, workspace $number 50 ;
     bindsym $kpd mode default
}


mode "$cws6" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 60, workspace $number 60 ;
     bindsym $kp1 mode default, move container to workspace number 61, workspace $number 61 ;
     bindsym $kp2 mode default, move container to workspace number 62, workspace $number 62 ;
     bindsym $kp3 mode default, move container to workspace number 63, workspace $number 63 ;
     bindsym $kp4 mode default, move container to workspace number 64, workspace $number 64 ;
     bindsym $kp5 mode default, move container to workspace number 65, workspace $number 65 ;
     bindsym $kp6 mode default, move container to workspace number 66, workspace $number 66 ;
     bindsym $kp7 mode default, move container to workspace number 67, workspace $number 67 ;
     bindsym $kp8 mode default, move container to workspace number 68, workspace $number 68 ;
     bindsym $kp9 mode default, move container to workspace number 69, workspace $number 69 ;

     bindsym $kpz mode default, move container to workspace number 60, workspace $number 60 ;
     bindsym $kpd mode default
}


mode "$cws7" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 70, workspace $number 70 ;
     bindsym $kp1 mode default, move container to workspace number 71, workspace $number 71 ;
     bindsym $kp2 mode default, move container to workspace number 72, workspace $number 72 ;
     bindsym $kp3 mode default, move container to workspace number 73, workspace $number 73 ;
     bindsym $kp4 mode default, move container to workspace number 74, workspace $number 74 ;
     bindsym $kp5 mode default, move container to workspace number 75, workspace $number 75 ;
     bindsym $kp6 mode default, move container to workspace number 76, workspace $number 76 ;
     bindsym $kp7 mode default, move container to workspace number 77, workspace $number 77 ;
     bindsym $kp8 mode default, move container to workspace number 78, workspace $number 78 ;
     bindsym $kp9 mode default, move container to workspace number 79, workspace $number 79 ;

     bindsym $kpz mode default, move container to workspace number 70, workspace $number 70 ;
     bindsym $kpd mode default
}


mode "$cws8" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 00, workspace $number 80 ;
     bindsym $kp1 mode default, move container to workspace number 81, workspace $number 81 ;
     bindsym $kp2 mode default, move container to workspace number 82, workspace $number 82 ;
     bindsym $kp3 mode default, move container to workspace number 83, workspace $number 83 ;
     bindsym $kp4 mode default, move container to workspace number 84, workspace $number 84 ;
     bindsym $kp5 mode default, move container to workspace number 85, workspace $number 85 ;
     bindsym $kp6 mode default, move container to workspace number 86, workspace $number 86 ;
     bindsym $kp7 mode default, move container to workspace number 87, workspace $number 87 ;
     bindsym $kp8 mode default, move container to workspace number 88, workspace $number 88 ;
     bindsym $kp9 mode default, move container to workspace number 89, workspace $number 89 ;

     bindsym $kpz mode default, move container to workspace number 80, workspace $number 80 ;
     bindsym $kpd mode default
}


mode "$cws9" {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace number 90, workspace $number 90 ;
     bindsym $kp1 mode default, move container to workspace number 91, workspace $number 91 ;
     bindsym $kp2 mode default, move container to workspace number 92, workspace $number 92 ;
     bindsym $kp3 mode default, move container to workspace number 93, workspace $number 93 ;
     bindsym $kp4 mode default, move container to workspace number 94, workspace $number 94 ;
     bindsym $kp5 mode default, move container to workspace number 95, workspace $number 95 ;
     bindsym $kp6 mode default, move container to workspace number 96, workspace $number 96 ;
     bindsym $kp7 mode default, move container to workspace number 97, workspace $number 97 ;
     bindsym $kp8 mode default, move container to workspace number 98, workspace $number 98 ;
     bindsym $kp9 mode default, move container to workspace number 99, workspace $number 99 ;

     bindsym $kpz mode default, move container to workspace number 90, workspace $number 90 ;
     bindsym $kpd mode default
}

# ------------------------------------------------------------------------------------------------------

mode "$cwsA                                                       " {
     bindsym space mode default

     bindsym $kp0 mode default, move container to workspace A0, workspace A0 ;
     bindsym $kp1 mode default, move container to workspace A1, workspace A1 ;
     bindsym $kp2 mode default, move container to workspace A2, workspace A2 ;
     bindsym $kp3 mode default, move container to workspace A3, workspace A3 ;
     bindsym $kp4 mode default, move container to workspace A4, workspace A4 ;
     bindsym $kp5 mode default, move container to workspace A5, workspace A5 ;
     bindsym $kp6 mode default, move container to workspace A6, workspace A6 ;
     bindsym $kp7 mode default, move container to workspace A7, workspace A7 ;
     bindsym $kp8 mode default, move container to workspace A8, workspace A8 ;
     bindsym $kp9 mode default, move container to workspace A9, workspace A9 ;

     bindsym $kpz mode default, move container to workspace A0, workspace A0 ;
     bindsym $kpd mode default, move container to workspace AA, workspace AA ;
}

# ------------------------------------------------------------------------------------------------------
