# -*- Mode: Shell-script -*-
# subkey-units-digit.config
# ------------------------------------------------------------------------------------------------------
# This is the first of three generic command tables, after the application specific tables for visit
# workspsce and move container to workspace, generic names div and mul, The three generic tables are
# sub, add and entr. These nmes aarose from the names of the five keys that select a table, the numpad
# arihmetic keys divide (slash, multiply (star), subtract, add, and enter (equals on a calculator).

# IF YOU ARE NEW TO ALL OF THIS take look at the 4th and 5th tables which provide default
# functionallty. See 154-addkey-units-digit and 155-ntrkey-units-digit. As with 152-mulkey-units-digit
# the simplicity should allow you to see te structure.

# THe sub table of 153-subkey-units-digit.config, this file, is loaded with ellathecat's useful commands
# and some examples, so you can see what the command table concept is about.

# Eevry command has a 3 digit identifier. The first digit is in the set 1,2,3,4,5, the ordinal of
# div,mul,ad,sub,ntr respectively, the hundreds digit, Ther second and third digits provide tens and
# units. A command is invked by typing the three digits, nothing else no Menu, no Return, etc.

# Here are commands 300 to 399. the scripts.d folder contains.

# ------------------------------------------------------------------------------------------------------
set  $leftop153 HDMI-A-2
set $rightop153 HDMI-A-1
# ------------------------------------------------------------------------------------------------------

mode "$subfn0" {
    bindsym space mode default

    bindsym $kp0 mode default, $subfn 00 ;
    bindsym $kp1 mode default, $subfn 01 ;
    bindsym $kp2 mode default, $subfn 02 ;
    bindsym $kp3 mode default, $subfn 03 ;
    bindsym $kp4 mode default, $subfn 04 ;
    bindsym $kp5 mode default, $subfn 05 ;
    bindsym $kp6 mode default, $subfn 06 ;
    bindsym $kp7 mode default, $subfn 07 ;
    bindsym $kp8 mode default, $subfn 08 ;
    bindsym $kp9 mode default, $subfn 09 ;

    bindsym $kpz mode default, $subfn 00 ;
    bindsym $kpd mode default, $subfn 0d ;
}

mode "$subfn1" {
    bindsym space mode default

    bindsym $kp0 mode default, $subfn 10 ;
    bindsym $kp1 mode default, $subfn 11 ;
    bindsym $kp2 mode default, $subfn 12 ;
    bindsym $kp3 mode default, $subfn 13 ;
    bindsym $kp4 mode default, $subfn 14 ;
    bindsym $kp5 mode default, $subfn 15 ;
    bindsym $kp6 mode default, $subfn 16 ;
    bindsym $kp7 mode default, $subfn 17 ;
    bindsym $kp8 mode default, $subfn 18 ;
    bindsym $kp9 mode default, $subfn 19 ;

    bindsym $kpz mode default, $subfn 10 ;
    bindsym $kpd mode default, $subfn 1d ;
}

mode "$subfn2" {
    bindsym space mode default

    bindsym $kp0 mode default, $subfn 20 ;
    bindsym $kp1 mode default, $subfn 21 ;
    bindsym $kp2 mode default, $subfn 22 ;
    bindsym $kp3 mode default, $subfn 23 ;
    bindsym $kp4 mode default, $subfn 24 ;
    bindsym $kp5 mode default, $subfn 25 ;
    bindsym $kp6 mode default, $subfn 26 ;
    bindsym $kp7 mode default, $subfn 27 ;
    bindsym $kp8 mode default, $subfn 28 ;
    bindsym $kp9 mode default, $subfn 29 ;

    bindsym $kpz mode default, $subfn 2z ;
    bindsym $kpd mode default, $subfn 2d ;
}

# ----------------------------------------------------------------------------------------

# Watching DVB digital terrestrial TV

mode "$subfn3" {
    bindsym space mode default

    # This kills playback (and recording) on all tuners on this (dvbin-card) / (usb single tuner).  It
    # is not as restricted as it seems at first. Type q in the video window to quit video or the usual
    # $mod+Shift+q (twice) to kill an individual video,
    bindsym $kp0 mode default, exec pkill -f 'mpv --dvbin-card=0 dvb://';
    bindsym $kpz mode default, exec pkill -f 'mpv --dvbin-card=0 dvb://';
    # Watch TV in the UK. These are the main channels in SD.
    bindsym $kp1 mode default, exec mpv --dvbin-card=0 'dvb://BBC ONE Lon';
    bindsym $kp2 mode default, exec mpv --dvbin-card=0 'dvb://BBC TWO';
    bindsym $kp3 mode default, exec mpv --dvbin-card=0 'dvb://ITV';
    bindsym $kp4 mode default, exec mpv --dvbin-card=0 'dvb://Channel 4';
    bindsym $kp5 mode default, exec mpv --dvbin-card=0 'dvb://Channel 5';
    bindsym $kp6 mode default, exec mpv --dvbin-card=0 'dvb://BBC FOUR';
    # Squeeze in a random feature: keeping the displays alive while watching
    bindsym $kp7 mode default, idle_inhibit visible;
    # Best PQ in HD on DVB-T2 is Channel 4.
    bindsym $kp8 mode default, exec mpv --dvbin-card=0 'dvb://Channel 4 HD';
    # PQ benchmark. Walking around EHV in NL. 20s startup delay. Whether 1/4 or 2x HD screen area, my
    # CPU hits 70C and I think hits 73C max. Touch wood it's stayed up over tens of minutes! The URL
    # needs single quotes here.
    bindsym $kp9 mode default, exec mpv 'https://youtu.be/NwNmbb1viic?feature=shared';
    bindsym $kpd mode default
}

# Screenshots, desktop files.
mode "$subfn4" {
    bindsym space mode default

    # Show the latest screenshot. There needs to be at least one screenshot present, The screenshot
    # filenames are timestamps and sort by age. The entire bash command is enclosed in single quotes to
    # prevent the command being interpreted by config or ipc, assuming single quotes still work like
    # that.
    bindsym $kp0  mode default, \
            exec 'feh $(cat /home/ellathecat/Pictures/{area,active,window,output,screen}.txt | sort -u | tail -n 1 ) &';

    # Take a screenshot of a rectangular region of the screen(s). the larger the Capture Area is, the
    # bigger the number on the key, unless "area" happens to break that memorisation rule of thumb.
    bindsym $kp1 mode default, exec 'grimshot save area   > /home/ellathecat/Pictures/area.txt';
    bindsym $kp2 mode default, exec 'grimshot save active > /home/ellathecat/Pictures/active.txt';
    bindsym $kp3 mode default, exec 'grimshot save window > /home/ellathecat/Pictures/window.txt';
    bindsym $kp4 mode default, exec 'grimshot save output > /home/ellathecat/Pictures/output.txt';
    bindsym $kp5 mode default, exec 'grimshot save screen > /home/ellathecat/Pictures/screen.txt';

    # Restore the Fuerteventura (beach) panoramic backdrop.  My photo February 2020. The original is
    # 41.5 Mbytes JPEG with a 3x3 times bigger panorama.
    # https://e.pcloud.link/publink/show?code=XZgl4WZ6nRteFnlSezgay97mYsWq8qwDhHX
    bindsym $kp6 mode default, \
            output $leftop153  bg /home/ellathecat/Desktop/fuerteL.png fill, \
            output $rightop153 bg /home/ellathecat/Desktop/fuerteR.png fill;

    # Restore the backdrop I can't distribute because I didn't take the photo.
    bindsym $kpd mode default, \
            output $leftop153  bg /home/ellathecat/Desktop/Sway_Wallpaper_etc_000_L_1920x1080.png fill, \
            output $rightop153 bg /home/ellathecat/Desktop/Sway_Wallpaper_etc_000_R_1920x1080.png fill;

    # Squeeze in a random feature: keeping the displays alive while watching TV
    bindsym $kp7 mode default, idle_inhibit visible;
    bindsym $kp8 mode default, idle_inhibit visible;
    bindsym $kp9 mode default, idle_inhibit none;
}

# Set opacity of the active window from exactly 0 to exactly 1 in 11 equidistant steps
# of 0.10. $kpd for the eleventh stop.
mode "$subfn5" {
    bindsym space mode default

    bindsym $kp0 mode default, opacity 0;
    bindsym $kp1 mode default, opacity 0.1;
    bindsym $kp2 mode default, opacity 0.2;
    bindsym $kp3 mode default, opacity 0.3;
    bindsym $kp4 mode default, opacity 0.4;
    bindsym $kp5 mode default, opacity 0.5;
    bindsym $kp6 mode default, opacity 0.6;
    bindsym $kp7 mode default, opacity 0.7;
    bindsym $kp8 mode default, opacity 0.8;
    bindsym $kp9 mode default, opacity 0.9;

    bindsym $kpz mode default, opacity 0;
    bindsym $kpd mode default, opacity 1;
}

# Magnifier for users with presbyopia, so you don't lean into the screen trying to focus. There is a
# deliberate asymmetry, the right-hand screen has 6 levels, the left has 3. Using the same scale on both
# screens is the use case for when you're tired. This is working much better than expected. Try it!
#
# The multilingual left-right output names avoid namespace/scope issues.
set $gauche HDMI-A-2
set $droite HDMI-A-1

mode "$subfn6" {
    bindsym space mode default
    # Reset all screens in lockstep by doing a "reload".
    bindsym $kp0 reload
    # Note that we can scale a seamless dual monitor display by adjusting positions.
    bindsym $kp1 mode default, output $gauche scale 1.15;
    bindsym $kp2 mode default, output $gauche scale 1.3;
    bindsym $kp3 mode default, output $gauche scale 1.45;
    # Asymmetry means finer steps, move the workspace from left output to right output as required.
    bindsym $kp4 mode default, output $droite scale 1.15;
    bindsym $kp5 mode default, output $droite scale 1.3;
    bindsym $kp6 mode default, output $droite scale 1.45;
    bindsym $kp7 mode default, output $droite scale 1.6;
    bindsym $kp8 mode default, output $droite scale 1.75;
    bindsym $kp9 mode default, output $droite scale 2;
}

# A ragbag of random shortcuts, examples of what you can do with the numpad.  It's helpful to cluster
# similar things on adjacent keys, in particular a group of three should go on keys 1,2,3 or 4,5,6 or
# 789.

mode "$subfn7" {
    bindsym space mode default

    # Instead of using a browser extension to render Markdown I convert Markdown to HTML.
    # The path is a config variable not an environment variable. See 103-files-and-folders
    bindsym $kp0 mode default, \
            exec 'discount-makepage $ETC_SWAY_DIR/README.md > $ETC_SWAY_DIR/README.html';
    bindsym $kpz mode default ,\
            exec 'discount-makepage $ETC_SWAY_DIR/README.md > $ETC_SWAY_DIR/README.html';
    bindsym $kpd mode default

    bindsym $kp1 mode default
    bindsym $kp2 mode default
    bindsym $kp3 mode default

    # Shellcheck all the scripts.
    bindsym $kp4 mode default, exec '$ETC_SWAY_SCRIPTS_DIR/config-shellcheck.utility.script';
    # The various workspace scripts write their debug to a file, this shows the activity when a
    # workspace is visited.
    bindsym $kp5 mode default, \
            exec 'xfce4-terminal --title="-workspace script debug-" -x watch cat /tmp/debug';


    # Writing a workspace script is just about keeping a target number of instances alive, but you need
    # their app_ids or class or whatever. This script reads the tree and dumps info.
    bindsym $kp6 mode default, exec '$ETC_SWAY_SCRIPTS_DIR/props.utility.script';
    # This also shows that using SINGLE QUOTES around the exec payload DOES NOT PREVENT the expansion of
    # a config variable.  Look what happens with a bash variable in a bash shell inside a terminal:-

    ### /home/ellathecat> echo $SWAY_SCRIPTS_DIR
    ### /home/ellathecat/scripts.d/
    ### /home/ellathecat> echo '$SWAY_SCRIPTS_DIR'
    ### $SWAY_SCRIPTS_DIR


    # Experimental feature, apparently. Do the visuals change?
    bindsym $kp7 mode default, \
            output  $leftop153 render_bit_depth 8, \
            output $rightop153 render_bit_depth 8 ;
    bindsym $kp8 mode default, output  $leftop153 render_bit_depth 10 ;
    bindsym $kp9 mode default, output $rightop153 render_bit_depth 10 ;
}

# ----------------------------------------------------------------------------------------------

# Use case is to bring a containerb
mode "$subfn8" {
    bindsym space mode default

    bindsym $kp0 mode default, [con_mark="Container"] focus ;
    bindsym $kp1 mode default, exec swaymsg "[title="^Downloads$"] mark --add Container, focus;" ;
    bindsym $kp2 mode default, exec swaymsg "[title="Volume.Control"] mark --add Container, focus;" ;
    bindsym $kp3 mode default, exec alacritty --class=magic
    bindsym $kp4 mode default, exec swaymsg "[app_id="magic"] mark --add Container, focus;" ;
    bindsym $kp5 mode default, $subfn 85 ;
    bindsym $kp6 mode default, $subfn 86 ;
    bindsym $kp7 mode default, $subfn 87 ;
    bindsym $kp8 mode default, $subfn 88 ;
    bindsym $kp9 mode default, $subfn 89 ;
    bindsym $kpz mode default, $subfn 80 ;
    bindsym $kpd mode default
}

# ------------------------------------------------------------------------------------------------------

# My i7-4790T has 8 CPUs (4 cores 2 threads)) according to bpytop, and cpulimit allocates 100% to each
# one for a total of 800%, so by adjusting the percentage in steps of 100% we allow only thst fraction
# of the total 800% to be used by the executable. I use it to prevent overheating on batch jobs.

# The batch job executable:
set $subfn9exe ghb

mode "$subfn9" {
    bindsym space mode default

    bindsym $kp1 mode default, exec 'sudo cpulimit -l 100 -e $subfn9exe' ;
    bindsym $kp2 mode default, exec 'sudo cpulimit -l 200 -e $subfn9exe' ;
    bindsym $kp3 mode default, exec 'sudo cpulimit -l 300 -e $subfn9exe' ;
    bindsym $kp4 mode default, exec 'sudo cpulimit -l 400 -e $subfn9exe' ;
    bindsym $kp5 mode default, exec 'sudo cpulimit -l 500 -e $subfn9exe' ;
    bindsym $kp6 mode default, exec 'sudo cpulimit -l 600 -e $subfn9exe' ;
    bindsym $kp7 mode default, exec 'sudo cpulimit -l 700 -e $subfn9exe' ;
    bindsym $kp8 mode default, exec 'sudo cpulimit -l 800 -e $subfn9exe' ;

    # Use the rest for some common use cases, different batch jobs.
    bindsym $kp9 mode default
    bindsym $kp0 mode default, exec 'sudo cpulimit -l 200 -e ghb' ;
    bindsym $kpz mode default
    bindsym $kpd mode default
}

# ------------------------------------------------------------------------------------------------------
