# -*- Mode: Shell-script -*-
# addkey-units-digit.config
# ------------------------------------------------------------------------------------------------------

mode "$addfn0" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 00 ;
    bindsym $kp1 mode default, $addfn 01 ;
    bindsym $kp2 mode default, $addfn 02 ;
    bindsym $kp3 mode default, $addfn 03 ;
    bindsym $kp4 mode default, $addfn 04 ;
    bindsym $kp5 mode default, $addfn 05 ;
    bindsym $kp6 mode default, $addfn 06 ;
    bindsym $kp7 mode default, $addfn 07 ;
    bindsym $kp8 mode default, $addfn 08 ;
    bindsym $kp9 mode default, $addfn 09 ;
}


mode "$addfn1" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 10 ;
    bindsym $kp1 mode default, $addfn 11 ;
    bindsym $kp2 mode default, $addfn 12 ;
    bindsym $kp3 mode default, $addfn 13 ;
    bindsym $kp4 mode default, $addfn 14 ;
    bindsym $kp5 mode default, $addfn 15 ;
    bindsym $kp6 mode default, $addfn 16 ;
    bindsym $kp7 mode default, $addfn 17 ;
    bindsym $kp8 mode default, $addfn 18 ;
    bindsym $kp9 mode default, $addfn 19 ;
}


mode "$addfn2" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 20 ;
    bindsym $kp1 mode default, $addfn 22 ;
    bindsym $kp2 mode default, $addfn 22 ;
    bindsym $kp3 mode default, $addfn 23 ;
    bindsym $kp4 mode default, $addfn 24 ;
    bindsym $kp5 mode default, $addfn 25 ;
    bindsym $kp6 mode default, $addfn 26 ;
    bindsym $kp7 mode default, $addfn 27 ;
    bindsym $kp8 mode default, $addfn 28 ;
    bindsym $kp9 mode default, $addfn 29 ;
}


mode "$addfn3" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 30 ;
    bindsym $kp1 mode default, $addfn 32 ;
    bindsym $kp2 mode default, $addfn 32 ;
    bindsym $kp3 mode default, $addfn 33 ;
    bindsym $kp4 mode default, $addfn 34 ;
    bindsym $kp5 mode default, $addfn 35 ;
    bindsym $kp6 mode default, $addfn 36 ;
    bindsym $kp7 mode default, $addfn 37 ;
    bindsym $kp8 mode default, $addfn 38 ;
    bindsym $kp9 mode default, $addfn 39 ;
}


mode "$addfn4" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 40 ;
    bindsym $kp1 mode default, $addfn 41 ;
    bindsym $kp2 mode default, $addfn 42 ;
    bindsym $kp3 mode default, $addfn 43 ;
    bindsym $kp4 mode default, $addfn 44 ;
    bindsym $kp5 mode default, $addfn 45 ;
    bindsym $kp6 mode default, $addfn 46 ;
    bindsym $kp7 mode default, $addfn 47 ;
    bindsym $kp8 mode default, $addfn 48 ;
    bindsym $kp9 mode default, $addfn 49 ;
}


mode "$addfn5" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 50 ;
    bindsym $kp1 mode default, $addfn 51 ;
    bindsym $kp2 mode default, $addfn 52 ;
    bindsym $kp3 mode default, $addfn 53 ;
    bindsym $kp4 mode default, $addfn 54 ;
    bindsym $kp5 mode default, $addfn 55 ;
    bindsym $kp6 mode default, $addfn 56 ;
    bindsym $kp7 mode default, $addfn 57 ;
    bindsym $kp8 mode default, $addfn 58 ;
    bindsym $kp9 mode default, $addfn 59 ;
}


mode "$addfn6" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 60 ;
    bindsym $kp1 mode default, $addfn 61 ;
    bindsym $kp2 mode default, $addfn 62 ;
    bindsym $kp3 mode default, $addfn 63 ;
    bindsym $kp4 mode default, $addfn 64 ;
    bindsym $kp5 mode default, $addfn 65 ;
    bindsym $kp6 mode default, $addfn 66 ;
    bindsym $kp7 mode default, $addfn 67 ;
    bindsym $kp8 mode default, $addfn 68 ;
    bindsym $kp9 mode default, $addfn 69 ;
}


mode "$addfn7" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 70 ;
    bindsym $kp1 mode default, $addfn 71 ;
    bindsym $kp2 mode default, $addfn 72 ;
    bindsym $kp3 mode default, $addfn 73 ;
    bindsym $kp4 mode default, $addfn 74 ;
    bindsym $kp5 mode default, $addfn 75 ;
    bindsym $kp6 mode default, $addfn 76 ;
    bindsym $kp7 mode default, $addfn 77 ;
    bindsym $kp8 mode default, $addfn 78 ;
    bindsym $kp9 mode default, $addfn 79 ;
}


mode "$addfn8" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 80 ;
    bindsym $kp1 mode default, $addfn 81 ;
    bindsym $kp2 mode default, $addfn 82 ;
    bindsym $kp3 mode default, $addfn 83 ;
    bindsym $kp4 mode default, $addfn 84 ;
    bindsym $kp5 mode default, $addfn 85 ;
    bindsym $kp6 mode default, $addfn 86 ;
    bindsym $kp7 mode default, $addfn 87 ;
    bindsym $kp8 mode default, $addfn 88 ;
    bindsym $kp9 mode default, $addfn 89 ;
}


mode "$addfn9" {
    bindsym space mode default

    bindsym $kp0 mode default, $addfn 90 ;
    bindsym $kp1 mode default, $addfn 91 ;
    bindsym $kp2 mode default, $addfn 92 ;
    bindsym $kp3 mode default, $addfn 93 ;
    bindsym $kp4 mode default, $addfn 94 ;
    bindsym $kp5 mode default, $addfn 95 ;
    bindsym $kp6 mode default, $addfn 96 ;
    bindsym $kp7 mode default, $addfn 97 ;
    bindsym $kp8 mode default, $addfn 98 ;
    bindsym $kp9 mode default, $addfn 99 ;
}


# ------------------------------------------------------------------------------------------------------
