# -*- Mode: Shell-script -*-
# ntrkey-units-digit.config
# ------------------------------------------------------------------------------------------------------

mode "$ntrfn0" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 00 ;
    bindsym $kp1 mode default, $ntrfn 01 ;
    bindsym $kp2 mode default, $ntrfn 02 ;
    bindsym $kp3 mode default, $ntrfn 03 ;
    bindsym $kp4 mode default, $ntrfn 04 ;
    bindsym $kp5 mode default, $ntrfn 05 ;
    bindsym $kp6 mode default, $ntrfn 06 ;
    bindsym $kp7 mode default, $ntrfn 07 ;
    bindsym $kp8 mode default, $ntrfn 08 ;
    bindsym $kp9 mode default, $ntrfn 09 ;
}


mode "$ntrfn1" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 10 ;
    bindsym $kp1 mode default, $ntrfn 11 ;
    bindsym $kp2 mode default, $ntrfn 12 ;
    bindsym $kp3 mode default, $ntrfn 13 ;
    bindsym $kp4 mode default, $ntrfn 14 ;
    bindsym $kp5 mode default, $ntrfn 15 ;
    bindsym $kp6 mode default, $ntrfn 16 ;
    bindsym $kp7 mode default, $ntrfn 17 ;
    bindsym $kp8 mode default, $ntrfn 18 ;
    bindsym $kp9 mode default, $ntrfn 19 ;
}


mode "$ntrfn2" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 20 ;
    bindsym $kp1 mode default, $ntrfn 21 ;
    bindsym $kp2 mode default, $ntrfn 22 ;
    bindsym $kp3 mode default, $ntrfn 23 ;
    bindsym $kp4 mode default, $ntrfn 24 ;
    bindsym $kp5 mode default, $ntrfn 25 ;
    bindsym $kp6 mode default, $ntrfn 26 ;
    bindsym $kp7 mode default, $ntrfn 27 ;
    bindsym $kp8 mode default, $ntrfn 28 ;
    bindsym $kp9 mode default, $ntrfn 29 ;
}


mode "$ntrfn3" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 30 ;
    bindsym $kp1 mode default, $ntrfn 31 ;
    bindsym $kp2 mode default, $ntrfn 32 ;
    bindsym $kp3 mode default, $ntrfn 33 ;
    bindsym $kp4 mode default, $ntrfn 34 ;
    bindsym $kp5 mode default, $ntrfn 35 ;
    bindsym $kp6 mode default, $ntrfn 36 ;
    bindsym $kp7 mode default, $ntrfn 37 ;
    bindsym $kp8 mode default, $ntrfn 38 ;
    bindsym $kp9 mode default, $ntrfn 39 ;
}


mode "$ntrfn4" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 40 ;
    bindsym $kp1 mode default, $ntrfn 41 ;
    bindsym $kp2 mode default, $ntrfn 42 ;
    bindsym $kp3 mode default, $ntrfn 43 ;
    bindsym $kp4 mode default, $ntrfn 44 ;
    bindsym $kp5 mode default, $ntrfn 45 ;
    bindsym $kp6 mode default, $ntrfn 46 ;
    bindsym $kp7 mode default, $ntrfn 47 ;
    bindsym $kp8 mode default, $ntrfn 48 ;
    bindsym $kp9 mode default, $ntrfn 49 ;
}


mode "$ntrfn5" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 50 ;
    bindsym $kp1 mode default, $ntrfn 51 ;
    bindsym $kp2 mode default, $ntrfn 52 ;
    bindsym $kp3 mode default, $ntrfn 53 ;
    bindsym $kp4 mode default, $ntrfn 54 ;
    bindsym $kp5 mode default, $ntrfn 55 ;
    bindsym $kp6 mode default, $ntrfn 56 ;
    bindsym $kp7 mode default, $ntrfn 57 ;
    bindsym $kp8 mode default, $ntrfn 58 ;
    bindsym $kp9 mode default, $ntrfn 59 ;
}


mode "$ntrfn6" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 60 ;
    bindsym $kp1 mode default, $ntrfn 61 ;
    bindsym $kp2 mode default, $ntrfn 62 ;
    bindsym $kp3 mode default, $ntrfn 63 ;
    bindsym $kp4 mode default, $ntrfn 64 ;
    bindsym $kp5 mode default, $ntrfn 65 ;
    bindsym $kp6 mode default, $ntrfn 66 ;
    bindsym $kp7 mode default, $ntrfn 67 ;
    bindsym $kp8 mode default, $ntrfn 68 ;
    bindsym $kp9 mode default, $ntrfn 69 ;
}


mode "$ntrfn7" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 70 ;
    bindsym $kp1 mode default, $ntrfn 71 ;
    bindsym $kp2 mode default, $ntrfn 72 ;
    bindsym $kp3 mode default, $ntrfn 73 ;
    bindsym $kp4 mode default, $ntrfn 74 ;
    bindsym $kp5 mode default, $ntrfn 75 ;
    bindsym $kp6 mode default, $ntrfn 76 ;
    bindsym $kp7 mode default, $ntrfn 77 ;
    bindsym $kp8 mode default, $ntrfn 78 ;
    bindsym $kp9 mode default, $ntrfn 79 ;
}


mode "$ntrfn8" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 80 ;
    bindsym $kp1 mode default, $ntrfn 81 ;
    bindsym $kp2 mode default, $ntrfn 82 ;
    bindsym $kp3 mode default, $ntrfn 83 ;
    bindsym $kp4 mode default, $ntrfn 84 ;
    bindsym $kp5 mode default, $ntrfn 85 ;
    bindsym $kp6 mode default, $ntrfn 86 ;
    bindsym $kp7 mode default, $ntrfn 87 ;
    bindsym $kp8 mode default, $ntrfn 88 ;
    bindsym $kp9 mode default, $ntrfn 89 ;
}


mode "$ntrfn9" {
    bindsym space mode default

    bindsym $kp0 mode default, $ntrfn 90 ;
    bindsym $kp1 mode default, $ntrfn 91 ;
    bindsym $kp2 mode default, $ntrfn 92 ;
    bindsym $kp3 mode default, $ntrfn 93 ;
    bindsym $kp4 mode default, $ntrfn 94 ;
    bindsym $kp5 mode default, $ntrfn 95 ;
    bindsym $kp6 mode default, $ntrfn 96 ;
    bindsym $kp7 mode default, $ntrfn 97 ;
    bindsym $kp8 mode default, $ntrfn 98 ;
    bindsym $kp9 mode default, $ntrfn 99 ;
}

# ------------------------------------------------------------------------------------------------------
