# -*- Mode: Shell-script -*-
# ntrkey-units-digit.config
# ------------------------------------------------------------------------------------------------------
# Visit a workspace and launch a terminal there. KISS, no script.

mode "$ntrfn0" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 00, exec xfce4-terminal ;
    bindsym $kp1 mode default, workspace 01, exec xfce4-terminal ;
    bindsym $kp2 mode default, workspace 02, exec xfce4-terminal ;
    bindsym $kp3 mode default, workspace 03, exec xfce4-terminal ;
    bindsym $kp4 mode default, workspace 04, exec xfce4-terminal ;
    bindsym $kp5 mode default, workspace 05, exec xfce4-terminal ;
    bindsym $kp6 mode default, workspace 06, exec xfce4-terminal ;
    bindsym $kp7 mode default, workspace 07, exec xfce4-terminal ;
    bindsym $kp8 mode default, workspace 08, exec xfce4-terminal ;
    bindsym $kp9 mode default, workspace 09, exec xfce4-terminal ;
}


mode "$ntrfn1" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 10, exec xfce4-terminal ;
    bindsym $kp1 mode default, workspace 11, exec xfce4-terminal ;
    bindsym $kp2 mode default, workspace 12, exec xfce4-terminal ;
    bindsym $kp3 mode default, workspace 13, exec xfce4-terminal ;
    bindsym $kp4 mode default, workspace 14, exec xfce4-terminal ;
    bindsym $kp5 mode default, workspace 15, exec xfce4-terminal ;
    bindsym $kp6 mode default, workspace 16, exec xfce4-terminal ;
    bindsym $kp7 mode default, workspace 17, exec xfce4-terminal ;
    bindsym $kp8 mode default, workspace 18, exec xfce4-terminal ;
    bindsym $kp9 mode default, workspace 19, exec xfce4-terminal ;
}


mode "$ntrfn2" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 20, exec xfce4-terminal ;
    bindsym $kp1 mode default, workspace 21, exec xfce4-terminal ;
    bindsym $kp2 mode default, workspace 22, exec xfce4-terminal ;
    bindsym $kp3 mode default, workspace 23, exec xfce4-terminal ;
    bindsym $kp4 mode default, workspace 24, exec xfce4-terminal ;
    bindsym $kp5 mode default, workspace 25, exec xfce4-terminal ;
    bindsym $kp6 mode default, workspace 26, exec xfce4-terminal ;
    bindsym $kp7 mode default, workspace 27, exec xfce4-terminal ;
    bindsym $kp8 mode default, workspace 28, exec xfce4-terminal ;
    bindsym $kp9 mode default, workspace 29, exec xfce4-terminal ;
}


mode "$ntrfn3" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 30, exec xfce4-terminal ;
    bindsym $kp1 mode default, workspace 31, exec xfce4-terminal ;
    bindsym $kp2 mode default, workspace 32, exec xfce4-terminal ;
    bindsym $kp3 mode default, workspace 33, exec xfce4-terminal ;
    bindsym $kp4 mode default, workspace 34, exec xfce4-terminal ;
    bindsym $kp5 mode default, workspace 35, exec xfce4-terminal ;
    bindsym $kp6 mode default, workspace 36, exec xfce4-terminal ;
    bindsym $kp7 mode default, workspace 37, exec xfce4-terminal ;
    bindsym $kp8 mode default, workspace 38, exec xfce4-terminal ;
    bindsym $kp9 mode default, workspace 39, exec xfce4-terminal ;
}


mode "$ntrfn4" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 40, exec xfce4-terminal ;
    bindsym $kp1 mode default, workspace 41, exec xfce4-terminal ;
    bindsym $kp2 mode default, workspace 42, exec xfce4-terminal ;
    bindsym $kp3 mode default, workspace 43, exec xfce4-terminal ;
    bindsym $kp4 mode default, workspace 44, exec xfce4-terminal ;
    bindsym $kp5 mode default, workspace 45, exec xfce4-terminal ;
    bindsym $kp6 mode default, workspace 46, exec xfce4-terminal ;
    bindsym $kp7 mode default, workspace 47, exec xfce4-terminal ;
    bindsym $kp8 mode default, workspace 48, exec xfce4-terminal ;
    bindsym $kp9 mode default, workspace 49, exec xfce4-terminal ;
}


mode "$ntrfn5" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 50, exec qterminal  ;
    bindsym $kp1 mode default, workspace 51, exec qterminal  ;
    bindsym $kp2 mode default, workspace 52, exec qterminal  ;
    bindsym $kp3 mode default, workspace 53, exec qterminal  ;
    bindsym $kp4 mode default, workspace 54, exec qterminal  ;
    bindsym $kp5 mode default, workspace 55, exec qterminal  ;
    bindsym $kp6 mode default, workspace 56, exec qterminal  ;
    bindsym $kp7 mode default, workspace 57, exec qterminal  ;
    bindsym $kp8 mode default, workspace 58, exec qterminal  ;
    bindsym $kp9 mode default, workspace 59, exec qterminal  ;
}


mode "$ntrfn6" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 60, exec qterminal ;
    bindsym $kp1 mode default, workspace 61, exec qterminal ;
    bindsym $kp2 mode default, workspace 62, exec qterminal ;
    bindsym $kp3 mode default, workspace 63, exec qterminal ;
    bindsym $kp4 mode default, workspace 64, exec qterminal ;
    bindsym $kp5 mode default, workspace 65, exec qterminal ;
    bindsym $kp6 mode default, workspace 66, exec qterminal ;
    bindsym $kp7 mode default, workspace 67, exec qterminal ;
    bindsym $kp8 mode default, workspace 68, exec qterminal ;
    bindsym $kp9 mode default, workspace 69, exec qterminal ;
}


mode "$ntrfn7" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 70, exec qterminal ;
    bindsym $kp1 mode default, workspace 71, exec qterminal ;
    bindsym $kp2 mode default, workspace 72, exec qterminal ;
    bindsym $kp3 mode default, workspace 73, exec qterminal ;
    bindsym $kp4 mode default, workspace 74, exec qterminal ;
    bindsym $kp5 mode default, workspace 75, exec qterminal ;
    bindsym $kp6 mode default, workspace 76, exec qterminal ;
    bindsym $kp7 mode default, workspace 77, exec qterminal ;
    bindsym $kp8 mode default, workspace 78, exec qterminal ;
    bindsym $kp9 mode default, workspace 79, exec qterminal ;
}


mode "$ntrfn8" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 80, exec qterminal ;
    bindsym $kp1 mode default, workspace 81, exec qterminal ;
    bindsym $kp2 mode default, workspace 82, exec qterminal ;
    bindsym $kp3 mode default, workspace 83, exec qterminal ;
    bindsym $kp4 mode default, workspace 84, exec qterminal ;
    bindsym $kp5 mode default, workspace 85, exec qterminal ;
    bindsym $kp6 mode default, workspace 86, exec qterminal ;
    bindsym $kp7 mode default, workspace 87, exec qterminal ;
    bindsym $kp8 mode default, workspace 88, exec qterminal ;
    bindsym $kp9 mode default, workspace 89, exec qterminal ;
}


mode "$ntrfn9" {
    bindsym space mode default

    bindsym $kp0 mode default, workspace 90, exec qterminal ;
    bindsym $kp1 mode default, workspace 91, exec qterminal ;
    bindsym $kp2 mode default, workspace 92, exec qterminal ;
    bindsym $kp3 mode default, workspace 93, exec qterminal ;
    bindsym $kp4 mode default, workspace 94, exec qterminal ;
    bindsym $kp5 mode default, workspace 95, exec qterminal ;
    bindsym $kp6 mode default, workspace 96, exec qterminal ;
    bindsym $kp7 mode default, workspace 97, exec qterminal ;
    bindsym $kp8 mode default, workspace 98, exec qterminal ;
    bindsym $kp9 mode default, workspace 99, exec qterminal ;
}

# Example floating window. Using it as a factory workspace is powerful, i.e .create container here then
# move container to target window.
for_window [app_id="qterminal"  workspace="99"] floating enable;

# ------------------------------------------------------------------------------------------------------
