# -*- Mode: Shell-script -*- 999-$USER.config
# ------------------------------------------------------------------------------------------------------
# The filemame must have the prefix '999-' and the '.config' suffix.  - See 111-idle.config for
# screensaver timing, screensaver inhibition w/video.
# ------------------------------------------------------------------------------------------------------
# This config makes uses "workspace scripting" for the "big apps" like {emacs firefox thunar} whih is
# why you don't see them here being assigned workspaces. You don't have to use any one configuration
# method in preference to another: we try to have examples of your options and with the Sway/i3
# documentation you should be able to "monkey-see monkey-do".
# Although we have plenty of workspaces we can share one between apps that don't tread on each others'
# toes, like a CD ripper and a disk management utility
assign [title="Sound Juicer"] workspace 19
assign [title="Disks"] workspace 19
# ------------------------------------------------------------------------------------------------------
# The [this="that"] key-value pairs for an application can be revealed by focusing the app window and
# pressing the Print key: press Next and Prev to read the three pages of the pop-up dialog, press Next
# on the last page to exit the dialog.
bindsym Print exec props.utility.script
# Footnote: alacritty can ve set with a custom app_id at launch
# ------------------------------------------------------------------------------------------------------
# mpv, for when you click on a file in a filebrowser, a video link in a webbrowser,the video is rendered
# on a dedicated workspace.
assign [title="mpv"] workspace 12
assign [title="Picture-in-Picture"] workspace 08
# mpv,firefox when you click on a file in a filebrowser, a video link in a webbrowser,a RED workspace tab shows where video is playing,
for_window [title="mpv"] urgent enable,urgent allow;
for_window [title="Picture-in-Picture"] urgent enable,urgent allow;
# Footnote: VLC had false positives that detracted from the experience, so removed its indicator
# ------------------------------------------------------------------------------------------------------
# Internet Radio widgets have Mainstream WM look'n'feel.
for_window [title="Radioplayer"] floating  enable, resize set 512 384;
# ------------------------------------------------------------------------------------------------------
# Two terminals acting as consoles for two web pages.
for_window [app_id="xfce4-terminal" title="everything everywhere"] workspace 62
for_window [app_id="xfce4-terminal" title="bubbleupnpserver"     ] workspace 62
# ------------------------------------------------------------------------------------------------------
 # A trick that will "bind" this app to the browser that owns this workspace.
assign [title="Mozilla Thunderbird"] workspace 06
for_window [title="Mozilla Thunderbird"] layout tabbed, urgent enable,urgent allow;
#-------------------------------------------------------------------------------------------------------
# EllaTheCat's reaction times are increasing with age, she increased this from default 500ms.
force_display_urgency_hint 1999
# The figure after "Adwaita", 18 by default, can be increased for a bigger cursor.
# EllaTheCat has ageing eyesight, and set it to 36. Any larger and pointing becomes ambiguous.
seat seat0 xcursor_theme Adwaita 36
# Is it hopeless asking a cat not to follow a mouse?
focus_follows_mouse no
# Center the cursor upon entry to a workspace.
mouse_warping container
# Gaps are not my usual cup of tea, but a gap around singleton windows looks nice.
smart_gaps inverse_outer
# Just the sides have the gap, because the status bars that frame the top and bottom act as gaps.
gaps horizontal 16
# Applies to tiling windows but not floating windows.
# ------------------------------------------------------------------------------------------------------
# I'll be honest, getting everything running and in the right workspace is harder the faster you try to
# make it. Testing is facilitated if you can close down cleanly and precisely, hence "$wsreaper" mode,
# which tears down workspaces one-by-one interactively. (Alt_Gr+Menu)
# ------------------------------------------------------------------------------------------------------
exec (desktop-workspace-setup.script ellathecat 1 30) &
exec   (emacs-workspace-setup.script ellathecat 40 10:8) &
exec   (files-workspace-setup.script ellathecat 80) &
exec (website-workspace-setup.script ellathecat 99 8) &
# ------------------------------------------------------------------------------------------------------
# Although this request is invoked last, the preceding actions in this file should not block or delay,
# it should play as-if it had been invoked nearer the beginnng.
exec speak-ng "ella the cat!"
# ------------------------------------------------------------------------------------------------------

#
# Done.
#
