# -*- Mode: Shell-script -*- 999-$USER.config
# ------------------------------------------------------------------------------------------------------
# The filemame must have the prefix '999-' and the '.config' suffix.  - See 111-idle.config for
# screensaver timing, screensaver inhibition w/video.
# ------------------------------------------------------------------------------------------------------
# This config makes uses "workspace scripting" for the "big apps" like {emacs firefox thunar} which is
# why you don't see them here being assigned workspaces. You don't have to use any one configuration
# method in preference to another. pr Althoughg we have plenty of workspaces we
# can share one between apps that don't tread on each others' toes, like a CD ripper and a disk
# management utility
assign [title="Sound Juicer"] workspace 19
assign [title="Disks"] workspace 19
# ------------------------------------------------------------------------------------------------------
# When you click on a file in a filebrowser, a video link in a webbrowser,the video is rendered on a
# dedicated workspace,a RED workspace tab shows where video is playing,
assign [title="mpv"] workspace 98
assign [title="Picture-in-Picture"] workspace pip 99
assign [app_id="org.qutebrowser.qutebrowser"] 99
for_window [title="mpv"] urgent enable,urgent allow;
for_window [title="Picture-in-Picture"] urgent enable,urgent allow;
for_window [app_id="org.qutebrowser.qutebrowser"] urgent enable,urgent allow;
# ------------------------------------------------------------------------------------------------------
# Internet Radio widgets have Mainstream WM look'n'feel, remember RealPlayer?
for_window [title="Radioplayer"] floating  enable, resize set 512 384;
# ------------------------------------------------------------------------------------------------------
# A dialog that should be floating. As these are discovered, fix them here.
for_window [app_id="qterminal" title="Select Terminal Font"] floating enable;
# ------------------------------------------------------------------------------------------------------
# A trick that will "bind" this app to the browser that owns this workspace.
assign [title="Mozilla Thunderbird"] workspace 06
for_window [title="Mozilla Thunderbird"] layout tabbed, urgent enable,urgent allow;
#-------------------------------------------------------------------------------------------------------
# EllaTheCat's reaction times are increasing with age, she increased this from default 500ms.
force_display_urgency_hint 1999
# The figure after "Adwaita", 18 by default, can be increased for a bigger cursor.
# EllaTheCat has ageing eyesight, and set it to 36. Any larger and pointing becomes ambiguous.
seat seat0 xcursor_theme Adwaita 36
# Is it hopeless asking a cat not to follow a mouse?
focus_follows_mouse no
# Center the cursor upon entry to a workspace. This discourages using the mouse from walking workspaces
# by clicking on tabs. See 125-reaper-mode for automated "kill while walking".
mouse_warping container
# Gaps are not my usual cup of tea, but a gap around singleton windows looks nice with the right
# background.
### smart_gaps inverse_outer
# Just the sides have the gap, because the status bars that frame the top and bottom act as gaps.
### gaps horizontal 16
# Applies to tiling windows but not floating windows.
# ------------------------------------------------------------------------------------------------------
# I'll be honest, getting everything running and in the right workspace is harder the faster you try to
# make it. Testing is facilitated if you can close down cleanly and precisely, hence "$wsreaper" mode,
# which tears down workspaces one-by-one interactively. (left+gownnnnn). After the first release less is
# more here, we want a brisk startup inside one minut
exec (website-workspace-setup.script ellathecat 5 8) &
# ------------------------------------------------------------------------------------------------------
# Although this request is invoked last, the preceding actions in this file should not block or delay,
# it should play as if it were first. I here for diagnostics and debug, hence disabled by default.
### exec speak-ng "ella the cat!"
# ------------------------------------------------------------------------------------------------------
# This is a mode for a user to add their personal customisations. The intent is to avoid losing one-liners.
set $custom :custom: q k p 1 2 3 C X
mode "$custom" {
    bindsym space mode default
    bindsym Pause mode default

    # Fedora 39 issue. ----------------------------------------------------------------------------------
    bindsym k exec killall pavucontrol
    bindsym Shift+k exec pulseaudio -k
    # Wrapper swaymsg get_treefor querying app_id etc, -------------------------------------------------
    # The [this="that"] key-value pairs for an application can be revealed by focusing the app window
    # and pressing the bound key: press Next and Prev to read the three pages of the pop-up dialog,
    # press Next on the last page to exit the dialog.
    bindsym p exec props.utility.script, mode default ;
    # Eye candy(!) visit workspace 01/02/03. See '151-divkey-units-digit.config'. ----------------------
    bindsym 1 mode default, \
            exec 'desktop-workspace.script \
            01  /home/ellathecat/Desktop/pavucontrol.desktop 2';
    bindsym 2 mode default, \
            exec 'desktop-workspace.script \
            02 /home/ellathecat/Desktop/bpytop.desktop 2';
    bindsym 3 mode default, \
            exec 'desktop-workspace.script \
            03 /home/ellathecat/Desktop/emacs-server.desktop 2';
    # Green banner mouse buttons made available via keyboard. -------------------------------------------
    bindsym Shift+c mode default, reload;
    bindsym Shift+x mode default, exit;
}
bindsym Pause mode "$custom"
# ------------------------------------------------------------------------------------------------------


#
# Done.
#
